<!-- <h1>Hello {{place_name}}</h1> -->
<!-- https://blog.ruanbekker.com/blog/2017/12/14/graphing-pretty-charts-with-python-flask-and-chartjs/ -->

<!DOCTYPE html>
<html lang="en">
<head>


  <!-- https://react-table-omega.vercel.app/
https://examples.bootstrap-table.com/#view-source
https://www.grufity.com/Stock/AAPL-Apple/Historical-Returns
https://www.netcials.com/stock-10-year-history/AAPL-Apple-Inc/
https://tradingninvestment.com/aapl-stock-yearly-return/
buyupside.com
 -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script> -->

  <!-- <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script> -->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'></script>

  <script src="{{ url_for('stock.static', filename='highstock.js') }}"></script>
  <script src="{{ url_for('stock.static', filename='modules/data.js') }}"></script>
  <script src="{{ url_for('stock.static', filename='modules/export-data.js') }}"></script>
  <script src="{{ url_for('stock.static', filename='modules/exporting.js') }}"></script>


<!-- https://datatables.net/examples/basic_init/table_sorting.html -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

  <!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script> -->




<script>
  Highcharts.getJSON('https://demo-live-data.highcharts.com/aapl-v.json', function (data) {
      // create the chart
      Highcharts.stockChart('highbar', {
          chart: {
              alignTicks: false
          },
      xAxis: {
        type: 'datetime',
        gridLineWidth: 1,
        min: Date.UTC(2015, 8, 1),
        max: Date.UTC(2020, 8, 30),
        dateTimeLabelFormats: {
          second: '%H:%M:%S',
          minute: '%H:%M',
          hour: '%H:%M',
          day: '%e. %b',
          week: '%e. %b',
          month: '%b \'%y',
          year: '%Y'
        },
        tickInterval: 1 * 24 * 3600 * 1000 // interval of 1 day
      },
          rangeSelector: {
              selected: 90
          },
          title: {
              text: 'AAPL Stock Volume'
          },
          series: [{
              type: 'column',
              name: 'AAPL Stock Volume',
              data: data,
              dataGrouping: {
                  units: [[
                      'month', // unit name
                      [1] // allowed multiples
                  ], [
                      'year',
                      [1, 2, 3, 4, 6]
                  ]]
              }
          }]
      });
  });
</script>




<div id="highbar" style="height: 400px"></div>



<!-- enables CSV -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/no-data-to-display.js"></script>


<script>
$(document).ready( function () {
    $('#df_myTable').DataTable(

      {
        paginate: false,
scrollY: 300,
dom: 'Bfrtip',
buttons: [
  // 'csv'
  // 'csvHtml5'
    // 'copy', 'csv', 'excel', 'pdf', 'print'
]
              // "order": [[ 3, "desc" ]]
          }

    );
} );
</script>

<!-- $('table.df_tableBoot').DataTable();
 -->

<!-- <script>
$(document).ready(function() {
                    $('.annual-returns-data').DataTable( {
                        'ajax':{url: 'link/to/above', dataSrc: 'data'}
                    } );
                } );
</script> -->



<script>
$(document).ready( function () {
    $('table.df_tableBoot').DataTable();
} );
</script>


  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <div id="container" style="height: 400px; min-width: 310px"></div>


  <h1>  Yo {{ place_name }}! {{ total_time }} {{ labels }} {{ values }}</h1>
  <h2>	          [{% for item in labels %}
            "{{ item }}",
          {% endfor %}]</h2>
  <img src="https://maps.googleapis.com/maps/api/staticmap?size=700x300&markers={{place_name}}" alt="map of {{place_name}}">

  <img src="https://maps.googleapis.com/maps/api/streetview?size=700x300&location={{place_name}}" alt="street view of {{place_name}}">




  <div class="chart-container" style="height:900px; width:1000px">
  <!-- style="position: relative; height:40vh; width:80vw"> -->
  <canvas id="myChart" ></canvas>
  <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
  <script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels:{{ labels }},
          datasets: [{
              label: '# of Votes',
              data: {{ values }},
              backgroundColor: [
                  // 'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              // fillColor: "rgba(151,187,205,0.2)",
              // strokeColor: "rgba(151,187,205,1)",
              // pointColor: "rgba(151,187,205,1)",
              // pointStrokeColor: "#fff",
              // pointHighlightFill: "#fff",
              // pointHighlightStroke: "rgba(151,187,205,1)",
              // bezierCurve : false,

              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      }
  });
  chart.canvas.parentNode.style.height = '128px';
  chart.canvas.parentNode.style.width = '128px';


  Chart.defaults.global.animationSteps = 50;
  Chart.defaults.global.tooltipYPadding = 16;
  Chart.defaults.global.tooltipCornerRadius = 0;
  Chart.defaults.global.tooltipTitleFontStyle = "normal";
  Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
  Chart.defaults.global.animationEasing = "easeOutBounce";
  Chart.defaults.global.responsive = false;
  Chart.defaults.global.scaleLineColor = "black";
  Chart.defaults.global.scaleFontSize = 16;


  </script>
</div>


<!--
  <canvas id="chart" width="300" height="800"></canvas>
  <script>
        // bar chart data
        var barData = {
          labels : {{ labels }},

          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data: {{ values }}
            }
          ]
        }

       // get bar chart canvas
       var mychart = document.getElementById("chart").getContext("2d");

         steps = 10
         max = {{max}}

       // draw bar chart
       new Chart(mychart).Bar(barData, {
         scaleOverride: true,
         scaleSteps: steps,
         scaleStepWidth: Math.ceil(max / steps),
         scaleStartValue: 0,
         scaleShowVerticalLines: true,
         scaleShowGridLines : true,
         barShowStroke : true,
         scaleShowLabels: true
         }
       );

    </script>




 -->



<!-- asdasasdasdd<br />
asdasasdasdd<br />
asdasasdasdd<br />
asdasasdasdd<br />
asdasasdasdd<br /> -->

  <!-- <canvas id="chart" width="600" height="400"></canvas>
      <script>

        // bar chart data
        var barData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
          ],

          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,

            // pointHitDetectionRadius : 9,


            data : [
        {% for item in values %}
                {{ item }},
              {% endfor %}]
            }
    ]
        }

        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;




        Chart.defaults.global.pointHitDetectionRadius = 9;

        // get bar chart canvas
        var mychart = document.getElementById("chart").getContext("2d");

        steps = 10
        max = {{ max }}
        // draw bar chart
        var LineChartDemo = new Chart(mychart).Line(barData, {
          // scaleOverride: true,
          // scaleSteps: steps,
          // scaleStepWidth: Math.ceil(max / steps),
          // scaleStartValue: 0,
          // scaleShowVerticalLines: true,
          // scaleShowGridLines : true,
          // barShowStroke : true,
          // scaleShowLabels: true,
          // bezierCurve: false,
        });

      </script> -->


{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}
asdas <br />
<br />
asdad
<div id="chart"></div>
</body>
</html>
