/*!https://tendollardata.com/?custom-css=ed515d6347*/.woocommerce-checkout .about_paypal{display:none;}

#add_payment_method #payment div.form-row, .woocommerce-cart #payment div.form-row, .woocommerce-checkout #payment div.form-row {
    padding: 0px !important;
}

.woocommerce-checkout .about_paypal{display:none;}
.woocommerce-cart th.product-price,.woocommerce-cart th.product-subtotal,.woocommerce-cart th.product-remove{
  text-align:center !important;
}

.woocommerce-cart .product-price{
font-weight:bold !important
}


#gws_field_tab > ul > li.gwpayperword_setting.gwp_field_setting.field_setting{display:list-item;}

.ginput_container textarea.textarea.medium {
  background-color: #FFFFFF;
  float:left;
  width:400px;
  color:#000000;
}

div.gform_footer.top_label {
  /* background-color: #000000; */
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B0B0B0;
}



.woocommerce-checkout #Content a {
    color: #136bf5 !important;
}

.woocommerce-cart .button_icon {
    display: none;
}






.woocommerce-cart span.button_icon {
   color: #000000 !important;
    font-size:22px !important;
    font-weight:bold;
    border: 2px solid #a79b9b;
}
.cart a.remove.button.button_js{
   color: #000000 !important;
    font-size:22px !important;
    font-weight:bold;
    /* border: 2px solid #a79b9b; */
    
}










/* 
.quantity{display:block !important;} */



.woocommerce-cart span.button_icon {
   color: #000000 !important;
    font-size:22px !important;
    font-weight:bold;
    border: 2px solid #a79b9b;
}


.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a.checkout-button.button.alt.wc-forward {
  color:#ffffff !important;
}


.woocommerce-error.alert, .woocommerce-info.alert, .woocommerce-message.alert {
    margin-bottom: 0px !important;}

button.single_add_to_cart_button.button.alt{margin-left:0px !important;}

.product-addon-totals ul > li:first-child{display:none;}
/* 
li[class="wc-pao-col1"]~li[class="wc-pao-col1"]{display:none;} */

.wc-pao-addon-container.wc-pao-addon.wc-pao-addon-product{padding-left:0px;position:relative;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: rgb(119, 164, 100);
    font-size: 18px;
}



.elementor-add-to-cart.elementor-product-simple>.cart{display:grid;}


.woocommerce div.product.elementor form.cart.variations_form .woocommerce-variation-add-to-cart, .woocommerce div.product.elementor form.cart:not(.grouped_form):not(.variations_form) {
    padding-left: 30px;
    padding-right: 30px;
}
.wcpa_form_outer {
    margin: 0px !important;
}

.paypal-button.paypal-button-color-gold, .paypal-button-row.paypal-button-color-gold .menu-button {
    background: #ffffff !important;
    border: 2px solid #a06f6f;
}






















.product-addons-total{float:right;}
.wc-pao-col1{padding-right: 20px !important;}
.product-addon-totals {margin-left:40px !important;}
.product-thumbnail{display:none !important}
.product-quantity{display:none !important}
.quantity{display:none !important;}
.elementor-2652 .elementor-element.elementor-element-8218297 .pp-tab-active .pp-advanced-tabs-title-text {
    color: #000000;
    font-weight: bold;
}
.woocommerce div.product .product_title {
    /* width: 500px; */
    /* font-size: 30px; */
    /* display: inline-block; */
    /* word-break: break-word; */
    line-height: 50px !important;
		font-size:31px !important;
}


a.single_add_to_cart_button.button.alt.custom-checkout-btn {
    display: none;
}
/* .dt-buttons{display:none;} */
button.dt-button.buttons-collection.buttons-colvis{display:none;}
button.dt-button.buttons-csv.buttons-html5{display:none;}
button.dt-button.buttons-excel.buttons-html5{display:none;}
button.dt-button.buttons-pdf.buttons-html5{display:none;}
button.dt-button.buttons-print{display:none;}
.dataTables_wrapper .clear{display:none;}
.minutecoldesc{}

/* .buttons-copy{display:block !important}  */
.woocommerce .quantity input.qty {
    display: inline-block;
    height: auto;
    line-height: 22px;
    min-width: 30px !important;
}
.buttons-colvis{display:none;}
.buttons-pdf{display:none;}
.buttons-print{display:none;}
.elementor-2652 .elementor-element.elementor-element-4c6d6514 {
    padding: 0% 0% 0% 0% !important;
}
#igsv-1DHnhNnhinPy6deIz7U93EEXOLSnoibTNoUYjbomJYsw_length{
		font-color:#ffffff;
		background-color:#cb9c9c !important;
		padding-left:7px;
		padding-right:7px;
		padding-top:8px;
/* 		display:none !important; */
}
.dataTables_filter label {font-color:#ffffff;}
#igsv-1DHnhNnhinPy6deIz7U93EEXOLSnoibTNoUYjbomJYsw_filter{font-color:#ffffff; background-color:#cb9c9c; 		padding-left:7px;
		padding-right:7px;
		padding-top:8px;
}
.dataTables_length option{
		background-color:#cb9c9c;
}

input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
/*     padding: 10px; */
    padding: 6px;
		outline: none;
/*     margin: 0; */
/* 		width: 50px !important;*/
		width: 60px !important;

}

.elementor-2652 .elementor-element.elementor-element-ce0dd57 .pp-tab-active .pp-advanced-tabs-title-text {
    font-weight: bold;
}

.woocommerce button.single_add_to_cart_button {
    height: 60px;
    width: 160px !important;
}


/* input:focus{
color:#000000 !important;
} */






input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea, .woocommerce .quantity input.qty, .dark input[type="email"], .dark input[type="password"], .dark input[type="tel"], .dark input[type="text"], .dark select, .dark textarea {
/*     color: #000000; */
/*     background-color: rgba(255,255,255,0); */
/*     border-color: #000000; */
		float:right;
}








































.woocommerce-cart span.button_icon {
   color: #000000 !important;
    font-size:22px !important;
    font-weight:bold;
    border: 2px solid #a79b9b;
}
.cart a.remove.button.button_js{
   color: #000000 !important;
    font-size:22px !important;
    font-weight:bold;
    /* border: 2px solid #a79b9b; */
    
}










/* 
.quantity{display:block !important;} */



.woocommerce-cart span.button_icon {
   color: #000000 !important;
    font-size:22px !important;
    font-weight:bold;
    border: 2px solid #a79b9b;
}


.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a.checkout-button.button.alt.wc-forward {
  color:#ffffff !important;
}


.woocommerce-error.alert, .woocommerce-info.alert, .woocommerce-message.alert {
    margin-bottom: 0px !important;}

button.single_add_to_cart_button.button.alt{margin-left:0px !important;}

.product-addon-totals ul > li:first-child{display:none;}
/* 
li[class="wc-pao-col1"]~li[class="wc-pao-col1"]{display:none;} */

.wc-pao-addon-container.wc-pao-addon.wc-pao-addon-product{padding-left:0px;position:relative;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: rgb(119, 164, 100);
    font-size: 18px;
}



.elementor-add-to-cart.elementor-product-simple>.cart{display:grid;}


.woocommerce div.product.elementor form.cart.variations_form .woocommerce-variation-add-to-cart, .woocommerce div.product.elementor form.cart:not(.grouped_form):not(.variations_form) {
    padding-left: 30px;
    padding-right: 30px;
}
.wcpa_form_outer {
    margin: 0px !important;
}

.paypal-button.paypal-button-color-gold, .paypal-button-row.paypal-button-color-gold .menu-button {
    background: #ffffff !important;
    border: 2px solid #a06f6f;
}






















.product-addons-total{float:right;}
.wc-pao-col1{padding-right: 20px !important;}
.product-addon-totals {margin-left:40px !important;}
.product-thumbnail{display:none !important}
.product-quantity{display:none !important}
.quantity{display:none !important;}
.elementor-2652 .elementor-element.elementor-element-8218297 .pp-tab-active .pp-advanced-tabs-title-text {
    color: #000000;
    font-weight: bold;
}
.woocommerce div.product .product_title {
    /* width: 500px; */
    /* font-size: 30px; */
    /* display: inline-block; */
    /* word-break: break-word; */
    line-height: 50px !important;
		font-size:31px !important;
}


a.single_add_to_cart_button.button.alt.custom-checkout-btn {
    display: none;
}
/* .dt-buttons{display:none;} */
button.dt-button.buttons-collection.buttons-colvis{display:none;}
button.dt-button.buttons-csv.buttons-html5{display:none;}
button.dt-button.buttons-excel.buttons-html5{display:none;}
button.dt-button.buttons-pdf.buttons-html5{display:none;}
button.dt-button.buttons-print{display:none;}
.dataTables_wrapper .clear{display:none;}
.minutecoldesc{}

/* .buttons-copy{display:block !important}  */
.woocommerce .quantity input.qty {
    display: inline-block;
    height: auto;
    line-height: 22px;
    min-width: 30px !important;
}
.buttons-colvis{display:none;}
.buttons-pdf{display:none;}
.buttons-print{display:none;}
.elementor-2652 .elementor-element.elementor-element-4c6d6514 {
    padding: 0% 0% 0% 0% !important;
}
#igsv-1DHnhNnhinPy6deIz7U93EEXOLSnoibTNoUYjbomJYsw_length{
		font-color:#ffffff;
		background-color:#cb9c9c !important;
		padding-left:7px;
		padding-right:7px;
		padding-top:8px;
/* 		display:none !important; */
}
.dataTables_filter label {font-color:#ffffff;}
#igsv-1DHnhNnhinPy6deIz7U93EEXOLSnoibTNoUYjbomJYsw_filter{font-color:#ffffff; background-color:#cb9c9c; 		padding-left:7px;
		padding-right:7px;
		padding-top:8px;
}
.dataTables_length option{
		background-color:#cb9c9c;
}

input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea {
/*     padding: 10px; */
    padding: 6px;
		outline: none;
/*     margin: 0; */
/* 		width: 50px !important;*/
		width: 60px !important;

}

.elementor-2652 .elementor-element.elementor-element-ce0dd57 .pp-tab-active .pp-advanced-tabs-title-text {
    font-weight: bold;
}

.woocommerce button.single_add_to_cart_button {
    height: 60px;
    width: 160px !important;
}


/* input:focus{
color:#000000 !important;
} */






input[type="date"], input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], select, textarea, .woocommerce .quantity input.qty, .dark input[type="email"], .dark input[type="password"], .dark input[type="tel"], .dark input[type="text"], .dark select, .dark textarea {
/*     color: #000000; */
/*     background-color: rgba(255,255,255,0); */
/*     border-color: #000000; */
		float:right;
}





































/* Enter Your Custom CSS Here */
/* .nsl-button .nsl-button-default nsl-button-facebook */

/* background:linear-gradient(rgb(243, 248, 255) 0%, rgba(255, 255, 255, 0) 400px) */


.woocommerce #respond input#submit.alt, .woocommerce a.button.alt,.wc-forward, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
    background-color: #1A73E8;
    color: #fff !important;
    letter-spacing: 1px;
    font-weight: 400;
}

.elementor-1926 .elementor-element.elementor-element-bf2a027{padding-top:0px !important;}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 3px !important;
}
/*
.elementor-column-gap-wider>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 10px !important;
}*/

.elementor-1926 .elementor-element.elementor-element-118086b {padding-bottom:10px !important;}

	.tdditems{margin:2px !important;}
/* colors used previously for background includes #F7F3E8 */
.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 0px;
}
.elementor{background-color:#F6F9FC !important;}
#Wrapper, #Content {
    background-color: #F6F9FC;
}
.elementor-section{background-color: #F6F9FC;}


 section.elementor-element.elementor-element-fa70ff8.elementor-section-boxed.elementor-section-height-default.elementor-section-height-default.elementor-section.elementor-top-section {
  background-color:#ffffff;
} 

.global-header-widget {
    padding: 10px;
    background-color: #ffffff;
}
/*
#signinout {max-width: 295px !important;}*/
.nsl-container-block[data-align="center"] .nsl-container-buttons {width:100% !important;}
div.nsl-container .nsl-button-default div.nsl-button-label-container{margin-left: 4px !important; margin-right:0px !important; padding-right: 12px !important; font-size:14px;}
#Top_bar{
	background-color: #ffffff !important;
}
.nsl-button-label-container {font-size:15px;}
#logo{
	font-size: 30px !important;	
}
#mega-menu-wrap-main-menu{
	background-color: #ffffff !important;
}
textarea#order_comments {
    width: 556px !important;
}
#Header_wrapper a{
  color:#000000 !important;
}

#Content a{
  color:#136bf5;

}

Body{
	background-color:#F7F3E8 !important;
}
@media only screen and (max-width: 767px)
{
.mobile-header-mini #Top_bar {
    top: 0;
    position: fixed;
}
}
@media only screen and (max-width: 767px){
#Top_bar .logo {
    position: static;
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-left: -60px !important;
	}}

.mfn-main-slider{
display:none;
}
body:not(.template-slider) #Header{min-height:80px !important;}

/* #nsl-custom-login-form-1 .nsl-separator {

    margin: 0px 0 0px !important;
} */










@media only screen and (max-width: 768px){
.woocommerce-cart table td.product-name
{
    border-top: 1px solid #505050 !important;}
}

.woocommerce-cart a.remove:before {
   content: "Remove";
   visibility:visible; 
   font-size:15px !important;
}

.woocommerce-cart a.remove {
   visibility:hidden!important; /*hide everything*/
   width:auto!important; /*make sure to have the need width for "remove" */
}

.woocommerce-cart-form{
  background-color: #FFFFFF !important;
  color: #000000 !important;
}
/* a:link */
.woocommerce-cart #Content a {
  color: #0066C0 !important;
}

.woocommerce-cart #Content .wc-proceed-to-checkout a:visited,.woocommerce-cart #Content .wc-proceed-to-checkout a:link {
    color: #FFFFFF !important;
}

.woocommerce-cart #Content a:visited {
  color: #551A8B !important;
}

.wcsatt-add-cart-to-subscription-wrapper {
    display: none;
}

.cart_totals{
  background-color: #ffffff;
  border: 1px solid #e6e6e6 !important;
  padding:10px;  
}

.woocommerce-cart table th {
    font-weight: 700;
    background: #f9f9f9 !important;
    box-shadow: none;
}

.woocommerce-cart td.actions {
  display:none
}


th.product-remove:before {
   content: "Update Cart";
   visibility:visible; 
   font-size:15px !important;  
}

th.product-remove:after {
   visibility:hidden!important; /*hide everything*/
   width:auto!important; /*make sure to have the need width for "remove" */
}