<!-- <h1>Hello {{place_name}}</h1> -->
<!-- https://blog.ruanbekker.com/blog/2017/12/14/graphing-pretty-charts-with-python-flask-and-chartjs/ -->

<!DOCTYPE html>
<html lang="en">
<head><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<style>
table {border-spacing: 0;
border-collapse: collapse;
}
.cell { width: 20px; height: 20px; }
.odd { background-color: brown }
.even { background-color: pink }
</style>

  <!-- https://react-table-omega.vercel.app/
https://examples.bootstrap-table.com/#view-source
https://www.grufity.com/Stock/AAPL-Apple/Historical-Returns
https://www.netcials.com/stock-10-year-history/AAPL-Apple-Inc/
https://tradingninvestment.com/aapl-stock-yearly-return/
buyupside.com
 -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script> -->

  <!-- <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script> -->

  <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js'></script>

  <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
  
  <script src="https://code.highcharts.com/stock/highstock.js"></script>

  <!-- <script src="{{ url_for('stock.static', filename='scripts/highstock.js') }}"></script> -->
  <script src="{{ url_for('stock.static', filename='scripts/modules/data.js') }}"></script>
  <script src="{{ url_for('stock.static', filename='scripts/modules/export-data.js') }}"></script>
  <script src="{{ url_for('stock.static', filename='scripts/modules/exporting.js') }}"></script>


<!-- https://datatables.net/examples/basic_init/table_sorting.html -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"/>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>

  <!-- <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.22/datatables.min.js"></script> -->



  <script>
   document.addEventListener('DOMContentLoaded', function (data) {
    //     var myChart = Highcharts.setOptions({
    //     lang: {
    //         numericSymbols: [' thousands', ' millions', 'billions']
    //     }
    // });

        var myChart = Highcharts.stockChart('highbar', {
          // lang: {
          //     numericSymbols: [' thousands', ' millions', 'billions']
          // },
          chart: {
              borderWidth: 2,
              marginRight: 100
          },

                title: {
                    text: 'AAPL Stock Volume'
                },
                rangeSelector: {
                    inputPosition: {                    // align: 'left',
                        x: 0,                    y: 0                },
                    buttonPosition: {                    // align: 'right',
                        x: 0,                    y: 0                }
                    ,
                    buttons: [
            {
            type: 'year',        count: 3,        text: '3Y'    }, {
            type: 'year',        count: 5,        text: '5Y'    }, {
            type: 'year',        count: 10,        text: '10y'  }, {
            type: 'all',        text: 'All'    }                   ]
                },
                xAxis:{
                    tickInterval: 1 * 24 * 3600 * 1000 // interval of 1 day
                },
                yAxis:{
                  minPadding:100,
                          // lineColor:'#999',
                          // lineWidth:1,
                          // tickColor:'#666',
                          // tickWidth:1,
                          // tickLength:3,
                          // gridLineColor:'#ddd',
                          // title:{
                          //     text:'Y Axis Title',
                          //     rotation:0,
                          //     margin:50,
                          // },
                          tooltip: {
                          formatter: function (tooltip) {
                          }
                      },
        labels:{
                        align: 'right',
                  x: 50,
                  y: 0,
                          // formatter:function(){
                          //     return ('$' + this.value / 1000000000) + 'B';
                          // }
                          formatter:function(){
                      if(this.value >= 1000000000){
                          return ('$' + this.value / 1000000000) + 'B';
                      }
                      else if(this.value >= 1000000) {
                          return ('$' + this.value / 1000000) + 'M';
                      }
                      else if(this.value >= 1000) {
                          return ('$' + this.value / 1000) + 'K';
                      }
                      else {
                          return '$' + this.value;
                      }
                  }
        }
    },


                series: [{
                    type: 'column',
                    name: 'AAPL Stock Volume',
                    data:{{df_json}},

                }]

            });
        });
      </script>






<!-- print("df_json",{{df_json}})
  <br />
  print("df_date",{{df_date}})
  <br />
  print("df_rev",{{df_rev}})
  <br />
  <!-- print("tables",{{tables}}) -->
  print("titles",{{titles}})
  <br />
  print("total_time",{{total_time}})
  <br />
  print("place_name",{{place_name}})
  <br />
  print("max",{{max}})
  <br />
  print("labels",{{labels}})
  <br />
  print("values",{{values}}) -->



<div id="highbar" style="height: 400px; width:1000px;"></div>






<!--
  <script>

  document.addEventListener('DOMContentLoaded', function () {
          var myChart = Highcharts.chart('container', {
              chart: {
                  type: 'bar'
              },
              title: {
                  text: 'Fruit Consumption'
              },
              xAxis: {
                  categories: ['Apples', 'Bananas', 'Oranges']
              },
              yAxis: {
                  title: {
                      text: 'Fruit eaten'
                  }
              },
              series: [{
                  name: 'Jane',
                  data: {{df_date}}
              }, {
                  name: 'John',
                  data: {{df_rev}}
              }]
          });
      });

  </script> -->


<!-- enables CSV -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script>
<!-- <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script> -->
<script type="text/javascript" src="https://code.highcharts.com/modules/no-data-to-display.js"></script>



<!-- <script>

  // $(document).ready( function () {
  // table.rows().every( function () {
  //   if ( $( table.cell( this.index(), 0 ).node() ).text() !== 'sometext' ) {
  //     $( table.cell( this.index(), 1 ).node() ).addClass( 'highlightz' );
  //   }
  // } );

  $(document).ready( function () {
      $('table#df_myTable2').DataTable(

        {
          "columnDefs": [
            { "width": "10%" , "targets": [0,1,2,3,4,5,6]
          }
          {
  className: 'dt-center',
  targets: [0,1,2]
  }]

          ,
          paginate: false,
  scrollY: 300,
  dom: 'Bfrtip',
  buttons: [
    // 'csv'
    // 'csvHtml5'
      // 'copy', 'csv', 'excel', 'pdf', 'print'
  ]
                // "order": [[ 3, "desc" ]]
            }

      );
  } );
  </script> -->

  <!--
  <script>
  $(document).ready( function () {
      // $('table.df_tableBoot').DataTable();
      $('#df_myTable').DataTable(

        {
          paginate: false,
          fixedHeader: false,
  // scrollY: 300,
  dom: 'Bfrtip',
  buttons: [
    // 'csv'
    // 'csvHtml5'
      // 'copy', 'csv', 'excel', 'pdf', 'print'
  ]
                // "order": [[ 3, "desc" ]]
            }

      );
  } );
  </script> -->



   <!-- <script data-require="jquery-ui@1.10.4" data-semver="1.10.4" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->
   <script>

   </script>

<style>

      .page-content {
      	max-width: 1200px;
      	margin: 32px auto;
      	padding: 32px;
      	background: #fff;
      }
      a {
      	color: #21D4FD;
      	transition: all 0.3s;
      }
      a:hover {
      	color: #B721FF;
      }

      .tabbed {
      	overflow-x: hidden; /* so we could easily hide the radio inputs */
      	margin: 32px 0;
      	padding-bottom: 16px;
      	border-bottom: 1px solid #ccc;
      }

      .tabbed [type="radio"] {
      	/* hiding the inputs */
      	display: none;
      }

      .tabs {
      	display: flex;
      	align-items: stretch;
      	list-style: none;
      	padding: 0;
      	border-bottom: 1px solid #ccc;
      }
      .tab > label {
      	display: block;
      	margin-bottom: -1px;
      	padding: 12px 15px;
      	border: 1px solid #ccc;
      	background: #eee;
      	color: #666;
      	font-size: 12px;
      	font-weight: 600;
      	text-transform: uppercase;
      	letter-spacing: 1px;
      	cursor: pointer;
      	transition: all 0.3s;
      }
      .tab:hover label {
      	border-top-color: #333;
      	color: #333;
      }

      .tab-content {
      	display: none;
      	color: #777;
      }

      /* As we cannot replace the numbers with variables or calls to element properties, the number of this selector parts is our tab count limit */
      .tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
      .tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
      .tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
      .tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
      .tabbed [type="radio"]:nth-of-type(5):checked ~ .tabs .tab:nth-of-type(5) label {
      	border-bottom-color: #fff;
      	border-top-color: #B721FF;
      	background: #fff;
      	color: #222;
      }

      .tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
      .tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
      .tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
      .tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
      	display: block;
      }
          </style>

<body>



    <div class="page-content">
    	<div class="tabbed">
    		<input type="radio" id="tab1" name="css-tabs" checked>
    		<input type="radio" id="tab2" name="css-tabs">
    		<input type="radio" id="tab3" name="css-tabs">

    		<ul class="tabs">
    			<li class="tab"><label for="tab1">Financial Statements #h1</label></li>
    			<li class="tab"><label for="tab2">Financial Ratios</label></li>
    			<li class="tab"><label for="tab3">Financial Growth</label></li>
    		</ul>

    		<div class="tab-content">
    			<h4>Financial Statements #h2</h4>
    			<p>Da bomb ipsizzl</p>
                        <div class="tabbed">
                          <input type="radio" id="tab1" name="css-tabs" checked>
                          <input type="radio" id="tab2" name="css-tabs">
                          <input type="radio" id="tab3" name="css-tabs">

                          <ul class="tabs">
                            <li class="tab"><label for="tab1">Gangsta lipsum</label></li>
                            <li class="tab"><label for="tab2">Zombie lipsum</label></li>
                            <li class="tab"><label for="tab3">New age bullshit</label></li>
                          </ul>

                          <div class="tab-content">
                            <h4>Gangsta lipsum</h4>
                            <p>Da bomb ipsizzl</p>
                          </div>

                          <div class="tab-content">
                            <h4>Zombie lipsum</h4>
                            <p>Zombie </p>
                          </div>

                          <div class="tab-content">
                            <h4>New age bullshit</h4>

                          </div>
                        </div>
    		</div>

    		<div class="tab-content">
    			<h4>Zombie lipsum</h4>
    			<p>Zombie </p>
    		</div>

    		<div class="tab-content">
    			<h4>New age bullshit</h4>

    		</div>
    	</div>


    </div>




  <!-- <div class="page-content"> -->
  	<div class="tabbed">
  		<input type="radio" id="tab1" name="css-tabs" checked>
  		<input type="radio" id="tab2" name="css-tabs">
  		<input type="radio" id="tab3" name="css-tabs">

  		<ul class="tabs">
  			<li class="tab"><label for="tab1">Financial Statements #h1</label></li>
  			<li class="tab"><label for="tab2">Zombie lipsum</label></li>
  			<li class="tab"><label for="tab3">New age bullshit</label></li>
  		</ul>

  		<div class="tab-content">
  			<h4>Financial Statements #h2</h4>
  			<p>Da bomb ipsizzl</p>
                      <div class="tabbed">
                        <input type="radio" id="tab1" name="css-tabs" checked>
                        <input type="radio" id="tab2" name="css-tabs">
                        <input type="radio" id="tab3" name="css-tabs">

                        <ul class="tabs">
                          <li class="tab"><label for="tab1">Gangsta lipsum</label></li>
                          <li class="tab"><label for="tab2">Zombie lipsum</label></li>
                          <li class="tab"><label for="tab3">New age bullshit</label></li>
                        </ul>

                        <div class="tab-content">
                          <h4>Gangsta lipsum</h4>
                          <p>Da bomb ipsizzl</p>
                        </div>

                        <div class="tab-content">
                          <h4>Zombie lipsum</h4>
                          <p>Zombie </p>
                        </div>

                        <div class="tab-content">
                          <h4>New age bullshit</h4>

                        </div>
                      </div>
  		</div>

  		<div class="tab-content">
  			<h4>Zombie lipsum</h4>
  			<p>Zombie </p>
  		</div>

  		<div class="tab-content">
  			<h4>New age bullshit</h4>

  		</div>
  	</div>

  	<!-- <div class="tabbed">
  		<input type="radio" id="tab21" name="css-tabs2" checked>
  		<input type="radio" id="tab22" name="css-tabs2">
  		<input type="radio" id="tab23" name="css-tabs2">

  		<ul class="tabs">
  			<li class="tab"><label for="tab21">Gangsta lipsum</label></li>
  			<li class="tab"><label for="tab22">Zombie lipsum</label></li>
  			<li class="tab"><label for="tab23">New age bullshit</label></li>
  		</ul>

  		<div class="tab-content">
  			<h4>Gangsta lipsum</h4>
  			<p>De.</p>
  		</div>

  		<div class="tab-content">
  			<h4>Zombie lipsum</h4>
  			<p>Zouris. </p>
  		</div>

  		<div class="tab-content">
  			<h4>New age bullshit</h4>
  			<p>Ourtion.</p>
  			<p>Eoondage.</p>
  			<p>Generated by the <a href="http://sebpearce.com/bullshit/">New Age Bullshit Generator</a></p>
  		</div>
  	</div> -->

  </div>



<!--
  <canvas id="chart" width="300" height="800"></canvas>
  <script>
        // bar chart data
        var barData = {
          labels : {{ labels }},

          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            data: {{ values }}
            }
          ]
        }

       // get bar chart canvas
       var mychart = document.getElementById("chart").getContext("2d");

         steps = 10
         max = {{max}}

       // draw bar chart
       new Chart(mychart).Bar(barData, {
         scaleOverride: true,
         scaleSteps: steps,
         scaleStepWidth: Math.ceil(max / steps),
         scaleStartValue: 0,
         scaleShowVerticalLines: true,
         scaleShowGridLines : true,
         barShowStroke : true,
         scaleShowLabels: true
         }
       );

    </script>




 -->



<!-- asdasasdasdd<br />
  asdasasdasdd<br />
  asdasasdasdd<br />
  asdasasdasdd<br />
  asdasasdasdd<br /> -->

  <!-- <canvas id="chart" width="600" height="400"></canvas>
      <script>

        // bar chart data
        var barData = {
          labels : [
            {% for item in labels %}
              "{{ item }}",
            {% endfor %}
          ],

          datasets : [{
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            bezierCurve : false,

            // pointHitDetectionRadius : 9,


            data : [
        {% for item in values %}
                {{ item }},
              {% endfor %}]
            }
    ]
        }

        Chart.defaults.global.animationSteps = 50;
        Chart.defaults.global.tooltipYPadding = 16;
        Chart.defaults.global.tooltipCornerRadius = 0;
        Chart.defaults.global.tooltipTitleFontStyle = "normal";
        Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
        Chart.defaults.global.animationEasing = "easeOutBounce";
        Chart.defaults.global.responsive = false;
        Chart.defaults.global.scaleLineColor = "black";
        Chart.defaults.global.scaleFontSize = 16;




        Chart.defaults.global.pointHitDetectionRadius = 9;

        // get bar chart canvas
        var mychart = document.getElementById("chart").getContext("2d");

        steps = 10
        max = {{ max }}
        // draw bar chart
        var LineChartDemo = new Chart(mychart).Line(barData, {
          // scaleOverride: true,
          // scaleSteps: steps,
          // scaleStepWidth: Math.ceil(max / steps),
          // scaleStartValue: 0,
          // scaleShowVerticalLines: true,
          // scaleShowGridLines : true,
          // barShowStroke : true,
          // scaleShowLabels: true,
          // bezierCurve: false,
        });

      </script> -->

<div class="table_container">
{% for table in df_html %}
            <!-- {{titles[loop.index]}} -->
            {{ table|safe }}
{% endfor %}

</div>
asdas <br />
<br />
asdad
<div id="chart"></div>
<script>
function checkForm() {
    var rows = document.getElementsByClassName("item-row");
    var arr = new Array();

    for (i = 0; i < rows.length; i++) {
        var cols = rows[i].getElementsByTagName("td");

        for (j = 0; j < cols.length; j++) {
            arr.push(cols[j].textContent);
        }
    }
}
</script>



<script>
$(document).ready( function () {
    // $('table.df_tableBoot').DataTable();
    $('#df_myTable').DataTable(
      {

         // "scrollX": true,

        columnDefs: [
          {
        // "width": "100%" , "targets": [0,1,2,3,4,5,6],

            "width": "1000","targets": "_all",
            render: function ( data, type, full, meta ) {
                if(type === 'display' && !isNaN(data*1) && data > 1000000000){
                    return ('$'+(data/1000000000).toFixed(1) + 'B').toLocaleString();
                }

                else if(type === 'display' && !isNaN(data*1) && (data > 1000000 && data < 999999999)){
                    return ('$'+(data/1000000).toFixed(1) + 'M').toLocaleString();
                }
                else if(type === 'display' && !isNaN(data*1) && (data > 1000 && data < 999999)){
                    return ('$'+(data/1000).toFixed(1) + 'K').toLocaleString();
                }
                else if(type === 'display' && !isNaN(data*1) && (data > .01 && data < 2) && data != 1){
                    return ((data*100).toFixed(0) + '%').toLocaleString();
                }
                else{
                    return data;
                }
            }
        }
        ,
        // { "width": "1000" , targets: [0,1,2,3,4,5,6]},


      ]
        ,
        dom: 'Bfrtip',

        paginate: false,
        // fixedHeader: false,
        // "sScrollX": "100%",
        // "sScrollXInner": "110%",
        // "bScrollCollapse": true,
        colReorder: true,

// scrollY: 300,
buttons: [
  // 'csv'
  // 'csvHtml5'
    // 'copy', 'csv', 'excel', 'pdf', 'print'
]
              // "order": [[ 3, "desc" ]]
          }

    );
} );
</script>


<!--
<script>
$(document).ready(function() {
    $('#example').DataTable({
        columnDefs: [{
            targets: "_all",
            render: function ( data, type, full, meta ) {
                if(type === 'display' && !isNaN(data*1) && data > 1000000000){
                    return ('$'+(data/1000000000).toFixed(1) + 'B').toLocaleString();
                }

                else if(type === 'display' && !isNaN(data*1) && (data > 1000000 && data < 999999999)){
                    return ('$'+(data/1000000).toFixed(1) + 'M').toLocaleString();
                }
                else if(type === 'display' && !isNaN(data*1) && (data > 1000 && data < 999999)){
                    return ('$'+(data/1000).toFixed(1) + 'K').toLocaleString();
                }
                else{
                    return data;
                }
            }
        }]
    });
} );
    </script> -->

</html>




