<!DOCTYPE html>
<html lang="en">
<head>

  {asd%asd extends 'plate_head_chart_table.html' %}

  {asd% adsblock head %}
  {asd%asd endblock %}

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
  <!-- <link href="./css/main.css" rel="stylesheet" /> -->
  <!-- <link href="../assets/css/style.css" rel="stylesheet"> -->
  <!-- <link href="../static/css/main.css" rel="stylesheet"> -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Dosis:300,400,500,,600,700,700i|Lato:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="../assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="../assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet"> -->



  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='static/css/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/venobox/venobox.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/line-awesome/css/line-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->


  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">


<style type="text/css">
</style>
{% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
