{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<!-- <div class="content">
    <h1 style="text-align: center">Task Master</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center">There are no tasks. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br>
                    <a href="/update/{{task.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task">
        </form>
    </div>
</div> -->
<div id="e3_0">
  <div id="e1_3"></div>
  <div id="e1_4"></div>
  <div id="e1_5"></div>
  <div id="e1_6"></div>
  <div id="e1_7"></div>
  <div id="e1_8"></div>
  <div id="e1_9"></div>
  <div id="e1_10"></div>
  <div id="e1_11"></div>
  <div id="e1_13"></div>
  <div id="e1_14"></div>
  <div id="e1_16"></div>
    <span id="e1_88">Ten Dollar Data</span>
    <span id="e1_89">Shop</span>
    <span id="e1_90">Pricing</span>
    <span id="e1_91">Company</span>
    <span id="e1_92">Register</span>
    <span id="e1_93">Sign In</span>
    <span id="e1_94">Cart</span>
    <span id="e1_95">0</span>
</div>
{% endblock %}
