
/* added 2020-02-06 */
.squarelogo > table{
  /* border-color: white; */
  border: 1px solid white;
}

.beta{
	font-size: 10px;
}
.attribute_ten{
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
body {
    font-family: "Nunito Sans",Roboto, Arial;;
}
	.mcap_col1{
		width:30px !important;
	} 
	.mcap_col2{
		width:30px !important;
	} 

	
	@media (min-width: 500px) {
		.mobile_linebreak{
			display: none;
		}
	}

	
	.typeahead{
	 border: 1px #EDEDED solid !important;   
	 border-radius: 20px !important;
	 background-color: #E4E9F1 !important;
	}
	
	.typeahead:focus{
	 border: 1px #154EE2 solid !important;   
	 background-color: #FFFFFF !important;
	}

	::placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: #5f6368 !important;
	  font-weight: bold;
	  opacity: 1; /* Firefox */
	}
	
	:-ms-input-placeholder {
		color: #5f6368 !important;
		font-weight: bold;
	}
	
	::-ms-input-placeholder { /* Microsoft Edge */
		color: #5f6368 !important;
		font-weight: bold;
	}
	
	@media (max-width: 768px) {
		:is(h1, h2){
			padding-top: 3px;
			padding-bottom: 3px;
		}
		.mobile_h3{
			padding-top: 3px !important;
			padding-bottom: 3px !important;
		}
		
			.form-group{
					margin: 0 auto;
			text-align: center;
		}
		.typeahead{
			width:130px;
		}
		.spacer{width:0px !important;}
	.navbar {
		padding: 0rem 1rem;
	}
	input[type=search]{
		padding-left: 2px;
	}
	}
	.squarelogo{margin-top: -12px;}
	@media (min-width: 768px) {
		.mx-auto > li.nav-item{
			display: inline-block;
		}
		.navbar-collapse > .mx-auto{
			text-align:right;
			display: block;
			width: 100%;
		}
		.search_nav_desktop > .nav-item{
		margin-top:-5px;
		}
		
	}
/* 	

	@media (max-width: 768px) {

		.input-group-append{
			display: none;
		}
	}
	@media (min-width: 768px) {
		}
		
	} */


/* added 2020-02-04 below */

/* .rightside{
  display:none;
}
.price_center{
  flex: 0 0 100% !important;
  max-width: 100% !important;
} */
th,tr,tr:hover{
  background-color:transparent !important;
}

td.similar_companies_names, td.similar_companies_images, th.similar_companies_names {border-top:none;
border-bottom:none;
border-left: 1px #b4bec7 solid;
border-right: 1px #b4bec7 solid;
margin: 0 auto;
text-align: center;
}
.similar_comp_table_header{
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
}
/* a.a_similar_companies_images{
  border: 1px #EDEDED solid;
} */
/* .rightside{
  display:none;
}
.price_center{
  flex: 0 0 100% !important;
  max-width: 100% !important;
} */

.dt-buttons{
  text-align:right !important;
  }
.dt-buttons .material-icons{
  font-size: 20px !important;
  color:black !important;
  }
button.dt-button{
  border: 1px solid white !important;
  background-color: white !important;
}
#tgb_page-tgb_tabs #tgb_panels .tgb_panel-wrapper{padding: 5px !important}



.middle{
  margin: 0 auto !important;
  text-align: center !important;
}
.dark_blue{
  color: #154ee2 !important;
}

a.mcap_link{
  color:black !important;
}
td.mcap_col_numbers{
  /* padding: 0px; */
}
.tr_header{
  /* height:30px !important; */
  font-size: 14px !important;
}
.mcap_shares_vol{
  font-size:12px !important;
}
table.dataTable tbody th, table.dataTable tbody td{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.sum_market_number{
  color: #4285f4 !important;
  font-weight: 700 !important;
}
.sum_market.items>.item{
  border: 0px solid #FFFFFF !important;
  min-height: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.sum_market.items{
  /* overflow-x:hidden !important; */
  /* overflow: scroll; */
  overflow: hidden !important;
  overflow-x: hidden;
  /* width:1000%; */
}
::-webkit-scrollbar {
    /* width: 0px;
    background: transparent;  */
}
/* Optional: show position indicator in red */
/* ::-webkit-scrollbar-thumb {
    background: #FF0000;
} */
/* table.dataTable thead th, table.dataTable thead td{
    border-top:solid 1px #EDEDED;
    border-bottom:solid 1px #EDEDED;
} */

td,th{
  border-left:none !important;
  border-right:none !important;
    border-top:solid 1px #EDEDED !important;
    border-bottom:solid 1px #EDEDED !important;
}
tr.odd,tr.even{
  border-left:none !important;
  border-right:none !important;
    border-top:solid 1px #EDEDED !important;
    border-bottom:solid 1px #EDEDED !important;
}

.mcap_col_numbers{
  width:80px !important;
}
/* table thead tr {
    height: 30px;
    font-size: 16px;
} */
.mini_tr,.mini_tr2{
  height: 0px !important;
}
	
@media (min-width: 768px) {
	.mcap_image{
		width:60px;
	  }
}

@media (max-width: 768px) {


.search_nav_mobile{
	margin-left:-15px;
  }
  
  .navbar-toggler{
	padding: .2rem .2rem;
  }
	.mcap_image{
		width:40px;
	  }
}

th.mcap_symbol{
  border: 0px solid none !important;
}
.mcap_image,.mcap_symbol, .mcap_name{
  padding:0px !important;
  border:none !important;
}
.navbar{
  height: 60px !important;
}
.charts_left {
  vertical-align: top !important;
  }
.icon_brand{
  /* font-size:27px; */
  font-size:39px !important;
  font-weight: 700 !important;
  line-height: 100% !important;
  /* display: inline-block; */
}
/* .icon_brand:before { font-size: 30rem; } */


.mcap_table{
  max-width:1200px;
  margin: 0 auto;
}
.mcap_col_numbers{
  text-align:right;
}

table.df_tableBoot{
  border:solid 0px white;
  font-family: "Nunito Sans",Roboto, Arial;
  width:100%,
}

.brand_decoration a{
  transition: none;
}
.charts_left{
  /* font-style: oblique 50deg; */
/* font-style: italic; */
transform: skewX(-0deg)
}

.brand_right{
  /* font-style: oblique 50deg; */
/* font-style: italic; */
/* transform: skewX(-10deg); */
transform: skewX(-10deg);

text-shadow: .2px 0 0 currentColor;
}

.brand_up{
  /* font-style: oblique 50deg; */
/* font-style: italic; */
text-shadow: 2px 0 0 currentColor;
transform: skewX(-20deg);
}


/* added 2020-01-19 below */

@supports (display: grid) {
  .horizontal_grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header header" "title title footer" "main main main";
  }
  @media screen and (max-width: 500px) {
    .horizontal_grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr auto 1fr;
      grid-template-areas: "header" "title" "main" "footer";
    }
  }

  .horizontal_grid-item {
    color: #000000;
    background: white;
    border: 2px solid #EDEDED !important;
    padding: 3.5em 1em;
    font-size: 1em;
    font-weight: 700;
  }

  /* .header {
    background-color: #092a37;
    grid-area: header;
    padding: 1em;
  }

  .title {
    color: #555;
    background-color: #f4fbfd;
    grid-area: title;
  } */

  .main {
    color: black;
    background-color: white;
    grid-area: main;
    padding: 0;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
  }

  /* .footer {
    background-color: #5bbce4;
    grid-area: footer;
    padding: 0.6em;
  } */

  .items {
    position: relative;
    width: 101%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .items.active {
    background: rgba(255, 255, 255, 0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .item {
    display: inline-block;
    background: white;
    border: 2px solid #EDEDED !important;
    min-height: 100px;
    min-width: 200px;
    /* margin: 2em 1em; */
    margin-top:16px;
    margin-bottom:16px;
    margin-left: 8px;
    margin-right: 8px;
  }
  @media screen and (max-width: 500px) {
    .item {
      min-height: 130px;
      min-width: 200px;
    }
  }
}

.cursor_default {
	/* cursor:pointer; */
	z-index: 99999;
	/* pointer-events: auto; */
	/* position: relative; */
	color: orange;
	font-size: 30px;
}
li:hover > ul.dropdown-menu {
	display: block;
	pointer-events: auto;
}
body {
	/* cursor: pointer; */
	z-index: 99999;
}
.dropdown-menu {
	cursor: pointer;
	z-index: 99999;
}
.dropdown-submenu {
	position: relative;
	cursor: pointer;
}
.dropdown-submenu > .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
}
/* li {
	display: block;
} */
/* body{padding-left:200px} */
.dropdown-submenu {
	/* display: none; */
}
.dropdown-submenu::after {
	display: block;
}

.dropdown-toggle.search::after {
	display: none;
}

.dropdown:hover > .dropdown-menu.search {
	display: block;
}

.search_btn-primary:active,
.search_search_btn-primary:focus,
.search_btn-primary:hover,
.search_btn-primary:not(:disabled):not(.disabled).active,
.search_btn-primary:not(:disabled):not(.disabled):active,
.show > .search_btn-primary.dropdown-toggle {
	background-color: #ffffff !important;
	border-color: #ffffff !important;
	box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0);
	cursor: auto;
}
.form-control {
	margin-right: 10px;
}
.search_btn-primary:hover {
	background-color: #ffffff;
	border: #ffffff 0px solid;
	/* padding:0px !important; */
}
.search_btn {
	padding-left: 6px;
	padding-right: 6px;
}
.search_btn-primary {
	color: #ee0979;
	font-size: larger;
	border: #ffffff 0px solid;
	padding: 0px !important;

	-webkit-font-smoothing: antialiased;

	background-color: #ffffff;
}

.yoy_cards_current {
	text-align: center;
	display: block;
	font-size: 16px;
	color: #177737;
}
.sasa:hover,
.dada:hover {
	background-color: #f3f3f3;
}
.s_card_0 {
	/* border: 2px solid #EDEDED; */
	/* font-weight:bolder; */
}
.brand_right {
	margin-left: 3px;
	line-height: 20px;
}
.brand_right:hover {
	/* box-shadow: inset 0 -4px 0 #c0e6f7; */
	/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(89%,rgba(32, 213, 32, 0)), color-stop(93%,rgba(32, 213, 32, 1)), color-stop(95%,rgba(32, 213, 32, 1)), color-stop(96%,rgba(78, 228, 78, 1)), color-stop(97%,rgba(78, 228, 78, 1)), color-stop(100%,rgba(78, 228, 78, 0))); Chrome,Safari4+ */
	display: inline-block;
	text-decoration: none;
}
.big_cell {
	font-weight: bolder;
}
.all_time_price_chg,
.percent_correlation_str,
.price_metric_rate_change,
.growth_10_years_str {
	/* color:#4285f4; */
	background: -webkit-linear-gradient(
		top,
		rgba(255, 255, 255, 0) 0%,
		rgba(198, 232, 248, 0) 78%,
		rgba(192, 230, 247, 1) 90%,
		rgba(192, 230, 247, 1) 94%,
		rgba(184, 226, 245, 1) 95%,
		rgba(184, 226, 245, 1) 97%,
		rgba(184, 226, 245, 0) 100%
	); /* Chrome10+,Safari5.1+ */
	font-weight: bold;
	text-shadow: 0.1px 0 0 currentColor;
}
.charts_left {
	/* box-shadow: inset 0 -4px 0 #c0e6f7; */
	background: -webkit-linear-gradient(
		top,
		rgba(255, 255, 255, 0) 0%,
		rgba(198, 232, 248, 0) 78%,
		rgba(192, 230, 247, 1) 90%,
		rgba(192, 230, 247, 1) 94%,
		rgba(184, 226, 245, 1) 95%,
		rgba(184, 226, 245, 1) 97%,
		rgba(184, 226, 245, 0) 100%
	); /* Chrome10+,Safari5.1+ */

	/* background-color: #f1f1f1; */
	display: inline-block;
	text-decoration: none;
	/* border-left: solid #4285f4; */
	/* border-right: solid #4285f4 2px; */
	/* border-bottom: solid #4285f4 2px; */

	line-height: 20px;
	padding-left: 3px;
	padding-top: 10px;
	padding-bottom: 5px;
	/* padding-right:5px; */
}
@media (max-width: 500px) {
	.charts_left,
	.brand_right {
		font-size: 22px !important;
	}
	.tt-menu {
		width: 340px;
	}
	.hide_on_mobile {
		display: none;
	}
	.rightside {
		order: 2;
	}
	.horizontal_scroll {
		order: 1;
	}
}
.yoy_subtitle {
	/* display:block; */
	font-size: 12px !;
}
.spacer {
	width: 10px;
	height: 1px;
}

.sasa,
.dada {
	margin-bottom: 2px;
}
.five_year_section {
	display: block;
	padding: 10px;
	font-size: 24px;
}
.row {
	margin-left: 0px;
	margin-right: 0px;
}
.highbar_title {
	font-size: 20px;
	text-align: center;
}
.navbar-brand {
	margin-right: 0px;
}
#PopupSignupForm_0 {
	width: 100px;
	overflow: hidden;
}
.mc-modal {
	max-height: 400px;
	/* height:10px; */
}
.strictContent h2 {
	font-size: 1em !important;
}
.yoy_card_link {
	color: black;
}

/* .modalContent__content{
  padding:10px !important;
} */
.mc-banner {
	bottom: 0;
	top: unset;
}

.item {
	max-width: 220px;
	/* word-wrap: wrap; */
	/* word-break: break-all; */
	/* width: 20%; */
	vertical-align: middle;
}
.yoy_cards_title {
	font-size: 17px !important;
	/* max-width: 100px; */
	/* word-wrap: break-word; */
	white-space: pre-wrap !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	padding-bottom: 10px !important;
	text-align: center !important;
	height: 60px;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
	/* padding-bottom: 10px; */
}

.yoy_cards_metric {
	display: block;
	text-align: center;
	font-size: 30px;
	padding-top: 10px;
}
/* .horizontal_scroll{
    overflow: auto;
  white-space: nowrap;
} */
.tabs_links_ol {
	/* text-align:center; */
}
.center_tab_header {
	/* text-align:center; */
	border-top: 3px solid #d0b8b8;
}

.center_tab_header_top {
	/* text-align:center; */
	border-top: 3px solid #d0b8b8;
}

/* .tt-suggestion a{
  color:#3508ff
}
.dropdown_menu{

}
.dropdown-item {
  white-space: pre-wrap;
  width:400px;
} */

.dropdown_nav ul {
	/* background: #ddd; */
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
.dropdown_nav li {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	min-width: 33%;
}
.dropdown_nav a {
	background: #ddd;
	color: #444;
	display: block;
	font: bold 16px/50px sans-serif;
	padding: 0 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.dropdown_nav .dropdown_products:after {
	content: " \25bc";
}
.dropdown_nav li:hover a {
	background: #ccc;
}
.dropdown_nav li ul {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
}
.dropdown_nav li:hover ul {
	opacity: 1;
	top: 50px;
	visibility: visible;
}
.dropdown_nav li ul li {
	width: 100%;
}
.dropdown_nav li ul a:hover {
	/* background: #bbb; */
}

/* added 2020-01-19 above */

.form-inline .form-control {
	/* width: 360px; */
}
@media (max-width: 768px) {
	input[type="search"] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		outline: none;
		border: solid 1px #ccc;
		background: #ededed;
		padding: 3px 0px 3px 9px;
		/* width: 360px; */
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
		transition: all 0.5s;
	}
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none;
	}
	input[type="search"]:focus {
		/* width: 200px !important; */
		background-color: #fff;
		border-color: #66cc75;
	}
}

.tt-suggestion {
	padding-bottom: 3px;
	border-bottom: 2px solid #ededed;
	margin-bottom: 0px;
	padding-top: 2px;
}
.tt-menu {
	background-color: #fff;
	border: 2px #ededed solid;
	padding: 10px;
	max-height: 500px;
	overflow-y: auto;
	width: 500px;
	background-color: #ffffff;
}
.tt-suggestion a {
	/* color: #3508ff !important; */
	color: #000000 !important;
}

.tt-suggestion strong {
	font-weight: bolder;
	color: #154ee2;
	/* color: #177737; */
}

.dropdown_menu {
	/* white-space: normal */
	/* width:200px !important; */
}
.dropdown-item {
	white-space: pre-wrap;
	width: 400px;
}

.ruhroh a {
	color: #154ee2;
}

.ruhroh {
	font-size: 12px;
}

.ratios_links,
.statement_links {
	color: #154ee2;
}

.center_it {
	text-align: center;
}
.all_tabs_container {
	border: 2px solid #ededed !important;
}
.all_tabs {
	max-width: 1600px;
	width: 100%;
	margin: auto;
}
.leftside {
	/* width: 66%; */
}
.rightside {
	/* float:left; */
	/* width:50%; */
	/* width: 33%; */
	/* position:fixed; */
}
.highbar_title {
	width: 90%;
	margin: 0 auto;
}
#highbar {
	height: 600px;
	/* width:100%; */
}
.highbar_mobile {
	/* margin-left:-100px; */
}
@media (max-width: 768px) {
	.main {
		overflow-x: scroll;
		overflow-y: hidden;
	}
	body {
		overflow-x: hidden;
	}
	.yoy_table {
		padding: 0px;
		padding-top: 10px;
	}
	.highbar_mobile {
		/* width:112%; */
		/* margin-left: -7%; */
		/* margin: 0 auto; */
	}
	ol {
		column-count: 2;
	}
	.col {
		float: left;
		flex-basis: auto !important;
	}
	/* .highbar_container{
  padding: 0px;
} */
	.pad-10-right {
		padding-right: 0px;
	}
}
.similar_comp_table_header{
	border: 1px solid #EDEDED;
}
@media (max-width: 768px) {
	.lazytype {
		/* width: 360px; */
	}
}

@media (min-width: 768px) {
	.typeahead {
		width: 300px;
	}
	.rightside {
		padding-top: 10px;
	}
	ol {
		column-count: 2;
	}
	.col {
		/* float:left; */
		flex-basis: 0 !important;
	}
}
/* h2,h3,h4,h5,h6{
  font-family:"Nunito Sans";
  font-weight: bolder;
} */
.last12months {
	font-weight: 500 !important;
	font-family: "Nunito Sans";
}
/* #4285f4!important */
.material-icons.stats-top {
	vertical-align: middle;
	color: #3d7198 !important;
	/* color: #177737 !important; */
	/* color: #154ee2 !important; */
	/* padding-right:10px; */
	font-weight: bold;
}

.material-icons.stats-bottom {
	vertical-align: middle;
	color: #3d7198 !important;
	/* color: #d93025 !important; */
	/* color: #154ee2 !important; */
	padding-right: 0px;
	font-weight: bold;
}

tr.tr_header {
	/* font-family: "Roboto Condensed",sans-serif !important; */
}

.th_fin_statement_class,
.td_fin_statement_class {
	border: 1px #ededed solid;
}
.aside_points {
	font-size: 20px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-weight: 700;
}

.aside_body {
	/* font-size: 20px; */
	text-align: center;
	display: block;
	margin: 0 auto;
	/* font-weight: 700; */
}

* {
	letter-spacing: 0.5px;
}
.navbar.navbar-light.navbar-expand-md.navigation-clean-search {
	background-color: #ffffff !important;
}

a.nav-link {
	color: #000000 !important;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
	color: #19a419 !important;
	font-size: 30px;
	font-weight: bold;
	font-family: "Nunito Sans", Roboto, Helvetica, Arial;
}

.navbar {
	border-bottom: 1px solid #ededed;
}

.highbar_container {
	border: 1px solid #ededed;
	padding-top: 10px;
}

#panel-1 {
	max-height: 500px;
	overflow-y: auto;
}

.rfv-tabs {
	line-height: 0px;
}

.tstat1,
.tstat2,
.tstat3 {
	margin-top: -2px;
}

.table-responsive {
	/* margin-bottom: 5px;
  margin-top: 5px; */
}

/* body{overflow:hidden;} */
/* #qaz_page-qaz_tabs */
/* #qaz_panels
{
  overflow:hidden;
  height:100%;
  border: 2px solid #335cad;
  border: 2px solid tomato;
  border: 2px solid #EDEDED;
} */

.key_body {
	padding-left: 30px;
	padding-right: 10px;
	display: block;
}

.yoy_chrono_table {
	border: 2px solid #000000;
}
table thead tr {
	height: 60px;
	/* background: #ffed86; */
	font-size: 16px;
}

table {
	background: white;
	border-radius: 6px;
	overflow: hidden;
	/* max-width: 800px; */
	width: 100%;
	margin: 0 auto;
	position: relative;
	border: 2px solid #177737;
}

.tr_header {
	text-align: center;
}

.table-responsive {
	border-radius: 10px;
}

.table {
	width: 100%;
}
/* .middle{
  font-size: 1vw;
} */

table.table {
	table-layout: fixed;
}

.pitch {
	text-align: center;
}
.annual_percent {
	font-size: 16px !important;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 20px;
}
i {
	text-align: center;
}
tspan.chart_current_price {
	color: yellow !important;
}
.yoy_table {
	/* max-height: 400px; */
	/* overflow-y: auto; */
}
.summary_header,
.summary_body {
	padding: 10px;
}
/* .material-icons{font-size:20px} */
.up_green {
	color: #177737; /* color: #137333; */
	/* font-size:20px */
}
.down_red {
	color: #d93025; /* color: #137333; */
	/* font-size:20px; */
}
.typeahead_icon {
	font-size: 25px !important;
	margin: 0 auto !important;
	text-align: center;
	display: in-line;
	vertical-align: middle;
}
.pct_chg_summary {
	text-align: center;
}
.max_min_summary {
	text-align: center;
}


* {
	box-sizing: border-box;
}
.key_points {
	/* padding-bottom:0px !important; */
	line-height: 1.7;
}

.greenish {
	color: #177737 !important;
}

span.key_subtitle {
	text-align: center;
	font-weight: bold;
	/* font-size: 18px; */
	color: #4285f4;
	/* #3d7198; */
	/* #4285f4 !important; */

	/* display: block; */
}

.font12 {
	font-size: 12px;
}
.key_bullets {
	padding-inline-start: 20px;
	/* margin: 1px;  */
	/* padding: 0;  */
}

.bigif {
	font-size: 16px;
}

.material-icons {
	font-size: inherit;
}
.rightside {
	padding-left: 0px;
	padding-right: 0px;
}
.stock_price_rows {
	border-left: 2px solid #808080;
}

.subtd_header {
	border-right: 2px solid #808080 !important;
}

.hist_pct_chg_str,
.max_min_range_str {
	font-size: 20px;
}

.daily_pct_chg {
	font-size: 20px;
	font-weight: bold;
	color: #4285f4;
}
.last_pct_change {
	/* font-weight:bold; */
}
.key_points {
	font-size: 20px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-weight: bold;
}
a.similar_companies_urls {
	color: #3508ff;
}
.highbar_title_stock {
	color: #4285f4;
	/* #3d7198; */
	/* #4285f4; */
	font-weight: 600;
}
.highbar_title_metric {
	color: #177737;
	font-weight: 600;
}
/* .highbar_container {
	border: 2px solid #335cad;
	text-align: center;
	font-size: 20px;
} */
.table td,
.table th {
	padding: 0.3rem;
	/* vertical-align:top; */
	border-top: 1px solid #dee2e6;
}
.updownyears,
.peakbottom,
.historical_metric_change,
.lifetime {
	border: 2px solid #808080 !important;
}

/* td.subtd_header{
  display:inline-block;
  width:60px !important;

} */
td.subtd_body,
td.hist_stats {
	text-align: center;
}

tr {
	/* border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6; */
}
/* td.hist_measure {
    display:inline-block;
  width:60px !important;
} */
table {
	/* table-layout: fixed; */
	/* width: 300px; */
}
.text-primary {
	color: #000000 !important;
}
h1 {
	font-family: "Nunito Sans";
}
h1 {
	/* font-family: Catamaran; */
}
.over_x_years {
	font-size: 14px !important;
	/* color:blue; */
}
.subtd_header {
	/* padding: 2px; */
}
td {
	vertical-align: middle !important;
	padding: 2px;
}
.pct_chg_summary {
	line-height: 18px;
}
.highcharts-axis :last-child {
	display: none;
}

.hc-label {
	background-color: red;
	padding: 0px 5px;
	color: yellow;
}

td.big_cell {
	border-left: 2px solid #808080 !important;
}

.big_up_year {
	font-size: 20px;
	color: #177737;
	text-align: center;
}
.test {
	color: black;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}
.cell {
	width: 20px;
	height: 20px;
}
/* .odd {
	background-color: brown;
}
.even {
	background-color: pink;
} */

highcharts-xaxis-labels {
	color: #000000 !important;
	font-size: 30px !important;
}
highcharts-yaxis-labels {
	padding-left: 30px !important;
}
highcharts-label-box {
	display: none;
}
.td_fin_statement_class {
	text-align: right;
}
/* .fixed_body{
            width:1000px;
            } */
#content-wrapper {
	max-width: 1400px; /* text-align:center; */
	margin: 0 auto;
}
.hist_stats {
	text-align: right;
}
.dataframe {
	overflow: scroll;
	color: blue;
}
div.card.shadow.border-left-primary.py-2 {
	position: sticky;
	position: -webkit-sticky;
}

/* tabbed section below probably not using (useless) */
#df_myTable {
	margin: 0 auto;
}
.metric_table {
	text-align: center;
	margin: 0 auto !important;
}
div.card-body.hist_table {
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
div.card-body.hist_table::-webkit-scrollbar {
	display: none;
	color: #20c08d;
}
/* div.sticky-top{top:160px} */
.page-content {
	max-width: 1200px;
	margin: 32px auto;
	padding: 32px;
	background: #fff;
}
a {
	color: #21d4fd;
	transition: all 0.3s;
}
a:hover {
	color: #b721ff;
}
.tabbed {
	overflow-x: hidden;
	margin: 32px 0;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
}
.tabbed [type="radio"] {
	display: none;
}
.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
.tab > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid #ccc;
	background: #eee;
	color: #666;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s;
}
.tab:hover label {
	border-top-color: #333;
	color: #333;
}
.tab-content {
	display: none;
	color: #777;
}
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed
	[type="radio"]:nth-of-type(5):checked
	~ .tabs
	.tab:nth-of-type(5)
	label {
	border-bottom-color: #fff;
	border-top-color: #b721ff;
	background: #fff;
	color: #222;
}
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
	display: block;
	color: #1ebd1e;
}
h2,
h3,
h4,
h5,
h6 {
	/* font-family: Lato; */
	/* Catamaran; */
	font-weight: 800 !important;
	/* font-size: 18px !important; */
}

.rfv-parent,
.panel-wrapper {
	/* border: 2px solid #ededed; */

	border-top: 2px solid #ededed;
	border-bottom: 2px solid #ededed;
}

.rfv-panels {
	border: 2px solid #ededed;

	/* border-top: 2px solid #ededed; */
	/* border-bottom: 2px solid #ededed; */
}
.rfv-tabs {
	border-left: 2px solid #ededed;
	border-right: 2px solid #ededed;
}
.table thead tr {
	height: 60px;
	background: #ffed86;
	font-size: 16px;
}

.table {
	background: white;
	border-radius: 6px;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
