/* probably redundant tabs css - delete */
/* .page-tabs {
	margin-top: 20px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.page-tabs,
.page-tabs > ul {
	margin: 0;
	padding: 0;
}
.page-tabs .tabs {
	clear: both;
	overflow: auto;
	width: 100%;
}
.page-tabs .tabs > li {
	float: left;
	list-style: none;
	display: block;
	cursor: pointer;
	background-color: gray;
}
.page-tabs .tabs > li .tab-wrapper {
	padding: 1px 0;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: white;
	border-right: 1px solid #dedede;
}
.page-tabs .tabs > li.last .tab-wrapper {
	border-right: none;
}
.page-tabs .tabs > li.xactive {
	background-color: #ededed;
}
.page-tabs .tabs > li.xactive .tab-wrapper {
	color: #aa5c09;
}
.page-tabs .tabs > li.first {
}
.page-tabs .tabs > li.last {
}
.page-tabs .panels {
	clear: both;
	position: relative;
	list-style: none;
}
.page-tabs .panels > li {
	margin: 0;
	padding: 0;
	height: 0;
	width: 100%;
	list-style: none;
}
.page-tabs .panels > li ul {
	margin: 10px 20px;
}
.page-tabs .panels > li ul li {
	list-style: disc;
}
.page-tabs .panels .panel-wrapper {
	display: none;
	width: auto;
	padding: 30px;
	background-color: #ededed;
	position: relative;
}
.page-tabs .panels > li.xactive {
	height: auto;
}
.page-tabs .panels > li.xactive .panel-wrapper {
	display: block;
}
.page-tabs .panels .accordion-tab {
	display: none;
	padding: 25px 30px;
	background-color: #808080;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}
.page-tabs .panels .xactive .accordion-tab {
	border-bottom: none;
	background-color: #ededed;
	color: #aa5c09;
	padding-bottom: 0;
} */
/* */
/* @media only screen and(max-width: 700px) {
	.page-tabs .tabs {
		display: none;
	}
	.page-tabs .panels > li {
		position: static;
		height: auto;
	}
	.page-tabs .panels .accordion-tab {
		display: block;
		border-bottom: 1px solid #595959;
	}
	.page-tabs .panels .panel-wrapper {
		width: auto;
		padding: 30px;
	}
	.page-tabs .panels .accordion-tab {
		font-size: 17px;
	}
} */
/* probably redundant tabs css - delete */

/* probably redundant tabs PART 2 css - delete */
/* #xpage-xtabs {
	margin-top: 20px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#xpage-xtabs,
#xpage-xtabs > ul {
	margin: 0;
	padding: 0;
}
#xpage-xtabs #xtabs {
	clear: both;
	overflow: auto;
	width: 100%;
}
#xpage-xtabs #xtabs > li {
	float: left;
	list-style: none;
	display: block;
	cursor: pointer;
	background-color: gray;
} */
/* #xpage-xtabs #xtabs > li .tab-wrapper {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: white;
	border-right: 1px solid #dedede;
}
#xpage-xtabs #xtabs > li.last .tab-wrapper {
	border-right: none;
}
#xpage-xtabs #xtabs > li.xactive {
	background-color: #ededed;
}
#xpage-xtabs #xtabs > li.xactive .tab-wrapper {
	color: #aa5c09;
}
#xpage-xtabs #xtabs > li.first {
}
#xpage-xtabs #xtabs > li.last {
}
#xpage-xtabs #xpanels {
	clear: both;
	position: relative;
	list-style: none;
}
#xpage-xtabs #xpanels > li {
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 100%;
	list-style: none;
}
#xpage-xtabs #xpanels > li ul {
	margin: 10px 20px;
}
#xpage-xtabs #xpanels > li ul li {
	list-style: disc;
}
#xpage-xtabs #xpanels .panel-wrapper {
	display: none;
	width: auto;
	padding: 30px;
	background-color: #ededed;
	position: relative;
}
#xpage-xtabs #xpanels > li.xactive {
	height: auto;
}
#xpage-xtabs #xpanels > li.xactive .panel-wrapper {
	display: block;
}
#xpage-xtabs #xpanels .accordion-tab {
	display: none;
	padding: 25px 30px;
	background-color: #808080;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}
#xpage-xtabs #xpanels .xactive .accordion-tab {
	border-bottom: none;
	background-color: #ededed;
	color: #aa5c09;
	padding-bottom: 0px;
} */
/* */
/* @media only screen and (max-width: 700px) {
	#xpage-xtabs #xtabs {
		display: none;
	}
	#xpage-xtabs #xpanels > li {
		position: static;
		height: auto;
	}
	#xpage-xtabs #xpanels .accordion-tab {
		display: block;
		border-bottom: 1px solid #595959;
	}
	#xpage-xtabs #xpanels .panel-wrapper {
		width: auto;
		padding: 30px;
	}
	#xpage-xtabs #xpanels .accordion-tab {
		font-size: 17px;
	}
} */
/* probably redundant tabs PART 2 css - delete */
.pitch {
	text-align: center;
}
.annual_percent {
	font-size: 16px !important;
}
h1 {
	font-size: 22px;
}
h2 {
	font-size: 20px;
}
i {
	text-align: center;
}
tspan.chart_current_price {
	color: yellow !important;
}
.yoy_table {
	/* max-height: 400px; */
	/* overflow-y: auto; */
}
.summary_header,
.summary_body {
	padding: 10px;
}
/* .material-icons{font-size:20px} */
.up_green {
	color: #177737; /* color: #137333; */
	/* font-size:20px */
}
.down_red {
	color: #d93025; /* color: #137333; */
	/* font-size:20px; */
}
.typeahead_icon {
	font-size: 25px !important;
	margin: 0 auto !important;
	text-align: center;
	display: in-line;
	vertical-align: middle;
}
.pct_chg_summary {
	text-align: center;
}
.max_min_summary {
	text-align: center;
}

.tt-menu {
	max-height: 130px;
	overflow-y: auto;
	width: 500px;
	background-color: #ffffff;
}
.typeahead {
	width: 100px;
	background-color: yellow;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}
.cell {
	width: 20px;
	height: 20px;
}
.odd {
	background-color: brown;
}
.even {
	background-color: pink;
}

* {
	box-sizing: border-box;
}
.key_points {
	/* padding-bottom:0px !important; */
	line-height: 1.7;
}

.greenish {
	color: #177737 !important;
}

span.key_subtitle {
	text-align: center;
	font-weight: bold;
	/* font-size: 18px; */
	color: #4285f4;
	/* #3d7198; */
	/* #4285f4 !important; */

	/* display: block; */
}

.font12 {
	font-size: 12px;
}
.key_bullets {
	padding-inline-start: 20px;
	/* margin: 1px;  */
	/* padding: 0;  */
}

.bigif {
	font-size: 16px;
}

.material-icons {
	font-size: inherit;
}
.rightside {
	padding-left: 0px;
	padding-right: 0px;
}
.stock_price_rows {
	border-left: 2px solid #808080;
}

.subtd_header {
	border-right: 2px solid #808080 !important;
}

.hist_pct_chg_str,
.max_min_range_str {
	font-size: 20px;
}

.daily_pct_chg {
	font-size: 20px;
	font-weight: bold;
	color: #4285f4;
}
.last_pct_change {
	/* font-weight:bold; */
}
.key_points {
	font-size: 20px;
	text-align: center;
	display: block;
	margin: 0 auto;
	font-weight: bold;
}
a.similar_companies_urls {
	color: #3508ff;
}
.highbar_title_stock {
	color: #4285f4;
	/* #3d7198; */
	/* #4285f4; */
	font-weight: 600;
}
.highbar_title_metric {
	color: #177737;
	font-weight: 600;
}
.highbar_container {
	border: 2px solid #335cad;
	text-align: center;
	font-size: 20px;
}
.table td,
.table th {
	padding: 0.4rem;
	/* vertical-align:top; */
	border-top: 1px solid #dee2e6;
}
.updownyears,
.peakbottom,
.historical_metric_change,
.lifetime {
	border: 2px solid #808080 !important;
}

/* td.subtd_header{
  display:inline-block;
  width:60px !important;

} */
td.subtd_body,
td.hist_stats {
	text-align: center;
}

tr {
	/* border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6; */
}
/* td.hist_measure {
    display:inline-block;
  width:60px !important;
} */
table {
	/* table-layout: fixed; */
	/* width: 300px; */
}
.text-primary {
	color: #000000 !important;
}
h1 {
	font-family: "Nunito Sans";
}
h1 {
	/* font-family: Catamaran; */
}
.over_x_years {
	font-size: 14px !important;
	/* color:blue; */
}
.subtd_header {
	/* padding: 2px; */
}
td {
	vertical-align: middle !important;
	padding: 2px;
}
.pct_chg_summary {
	line-height: 18px;
}
.highcharts-axis :last-child {
	display: none;
}

.hc-label {
	background-color: red;
	padding: 0px 5px;
	color: yellow;
}

td.big_cell {
	border-left: 2px solid #808080 !important;
}

.big_up_year {
	font-size: 20px;
	color: #177737;
	text-align: center;
}
.test {
	color: black;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}
.cell {
	width: 20px;
	height: 20px;
}
.odd {
	background-color: brown;
}
.even {
	background-color: pink;
}

highcharts-xaxis-labels {
	color: #000000 !important;
	font-size: 30px !important;
}
highcharts-yaxis-labels {
	padding-left: 30px !important;
}
highcharts-label-box {
	display: none;
}
.td_fin_statement_class {
	text-align: right;
}
/* .fixed_body{
            width:1000px;
            } */
#content-wrapper {
	max-width: 1400px; /* text-align:center; */
	margin: 0 auto;
}
.hist_stats {
	text-align: right;
}
.dataframe {
	overflow: scroll;
	color: blue;
}
div.card.shadow.border-left-primary.py-2 {
	position: sticky;
	position: -webkit-sticky;
}

/* tabbed section below probably not using (useless) */
#df_myTable {
	margin: 0 auto;
}
.metric_table {
	text-align: center;
	margin: 0 auto !important;
}
div.card-body.hist_table {
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
div.card-body.hist_table::-webkit-scrollbar {
	display: none;
	color: #20c08d;
}
/* div.sticky-top{top:160px} */
.page-content {
	max-width: 1200px;
	margin: 32px auto;
	padding: 32px;
	background: #fff;
}
a {
	color: #21d4fd;
	transition: all 0.3s;
}
a:hover {
	color: #b721ff;
}
.tabbed {
	overflow-x: hidden;
	margin: 32px 0;
	padding-bottom: 16px;
	border-bottom: 1px solid #ccc;
}
.tabbed [type="radio"] {
	display: none;
}
.tabs {
	display: flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #ccc;
}
.tab > label {
	display: block;
	margin-bottom: -1px;
	padding: 12px 15px;
	border: 1px solid #ccc;
	background: #eee;
	color: #666;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	cursor: pointer;
	transition: all 0.3s;
}
.tab:hover label {
	border-top-color: #333;
	color: #333;
}
.tab-content {
	display: none;
	color: #777;
}
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tabs .tab:nth-of-type(1) label,
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tabs .tab:nth-of-type(2) label,
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tabs .tab:nth-of-type(3) label,
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tabs .tab:nth-of-type(4) label,
.tabbed
	[type="radio"]:nth-of-type(5):checked
	~ .tabs
	.tab:nth-of-type(5)
	label {
	border-bottom-color: #fff;
	border-top-color: #b721ff;
	background: #fff;
	color: #222;
}
.tabbed [type="radio"]:nth-of-type(1):checked ~ .tab-content:nth-of-type(1),
.tabbed [type="radio"]:nth-of-type(2):checked ~ .tab-content:nth-of-type(2),
.tabbed [type="radio"]:nth-of-type(3):checked ~ .tab-content:nth-of-type(3),
.tabbed [type="radio"]:nth-of-type(4):checked ~ .tab-content:nth-of-type(4) {
	display: block;
	color: #1ebd1e;
}
h2,
h3,
h4,
h5,
h6 {
	font-family: Lato;
	/* Catamaran; */
	font-weight: 800 !important;
	/* font-size: 18px !important; */
}

.rfv-parent,
.panel-wrapper {
	/* border: 2px solid #ededed; */

	border-top: 2px solid #ededed;
	border-bottom: 2px solid #ededed;
}

.rfv-panels {
	border: 2px solid #ededed;

	/* border-top: 2px solid #ededed; */
	/* border-bottom: 2px solid #ededed; */
}
.rfv-tabs {
	border-left: 2px solid #ededed;
	border-right: 2px solid #ededed;
}
.table thead tr {
	height: 60px;
	background: #ffed86;
	font-size: 16px;
}

.table {
	background: white;
	border-radius: 6px;
	overflow: hidden;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
