/* <style type="text/css"> */
/* ul li.tab.tab-wrapper:hover{
            color: blue !important;
        } */
/* div.tab-wrapper:hover{
            color: blue !important;
            text-decoration: underline;
            text-decoration-thickness: 3px;
		} */

/* <style type="text/css"> */
/* ul li.tab.tab-wrapper:hover{
            color: blue !important;
        } */
/* div.tab-wrapper:hover{
            color: blue !important;
            text-decoration: underline;
            text-decoration-thickness: 3px;
        } */

/* #tgb_page-tgb_tabs {
	margin-top: 20px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#tgb_page-tgb_tabs,
#tgb_page-tgb_tabs > ul {
	margin: 0;
	padding: 0;
}
#tgb_page-tgb_tabs #tgb_tabs {
	clear: both;
	overflow: auto;
	width: 100%;
}
#tgb_page-tgb_tabs #tgb_tabs > li {
	float: left;
	list-style: none;
	display: block;
	cursor: pointer;

}
#tgb_page-tgb_tabs #tgb_tabs > li .tab-wrapper {
	padding: 20px 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #000000;

	border-right: 1px solid #dedede;
}
#tgb_page-tgb_tabs #tgb_tabs > li.last .tab-wrapper {
	border-right: none;
}
#tgb_page-tgb_tabs #tgb_tabs > li.xactive {

}
#tgb_page-tgb_tabs #tgb_tabs > li.xactive .tab-wrapper {
	color: #aa5c09;
}
#tgb_page-tgb_tabs #tgb_tabs > li.first {
}
#tgb_page-tgb_tabs #tgb_tabs > li.last {
}
#tgb_page-tgb_tabs #tgb_panels {
	clear: both;
	position: relative;
	list-style: none;
}
#tgb_page-tgb_tabs #tgb_panels > li {
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 100%;
	list-style: none;
}
#tgb_page-tgb_tabs #tgb_panels > li ul {
	margin: 10px 20px;
}
#tgb_page-tgb_tabs #tgb_panels > li ul li {
	list-style: disc;
}
#tgb_page-tgb_tabs #tgb_panels .panel-wrapper {
	display: none;
	width: auto;
	padding: 30px;
	background-color: #ededed;
	position: relative;
}
#tgb_page-tgb_tabs #tgb_panels > li.xactive {
	height: auto;
}
#tgb_page-tgb_tabs #tgb_panels > li.xactive .panel-wrapper {
	display: block;
}
#tgb_page-tgb_tabs #tgb_panels .accordion-tab {
	display: none;
	padding: 25px 30px;

	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}
#tgb_page-tgb_tabs #tgb_panels .xactive .accordion-tab {
	border-bottom: none;
	background-color: #ededed;
	color: #aa5c09;
	padding-bottom: 0px;
} */
/*
@media only screen and (max-width: 700px) {
	#tgb_page-tgb_tabs #tgb_tabs {
		display: none;
	}
	#tgb_page-tgb_tabs #tgb_panels > li {
		position: static;
		height: auto;
	}
	#tgb_page-tgb_tabs #tgb_panels .accordion-tab {
		display: block;
		border-bottom: 1px solid #595959;
	}
	#tgb_page-tgb_tabs #tgb_panels .panel-wrapper {
		width: auto;
		padding: 30px;
	}
	#tgb_page-tgb_tabs #tgb_panels .accordion-tab {
		font-size: 17px;
	}
} */
hr {
	height: 0.25rem;
	width: 25%;
	margin: 0;
	background: tomato;
	border: none;
	transition: 0.3s ease-in-out;
}
a.tabs_title_links {
	/* display:block; */
	/* display: inline-block; */
	/* display: inline-table; */
	width: 25%;
	/* padding: .75rem 0; */
	margin: 0;
	text-decoration: none;
	color: #333;
	height: 100%;
	/* margin: 0 auto; */
}

/* hr.stickyhr {
	width: 50% !important;
}

.hr_one:hover ~ hr.stickyhr {
	margin-left: 0% !important;
}

.hr_two:hover ~ hr.stickyhr {
	margin-left: 50% !important;
} */
/* .hr_three:hover ~ hr.stickyhr {
	margin-left: 66% !important;
} */
/* .hr_four:hover ~ hr.stickyhr {
	margin-left: 75% !important;
} */

/* .xactive.hr_one ~ hr.stickyhr {
	margin-left: 0%;
}

.xactive.hr_two ~ hr.stickyhr {
	margin-left: 50%;
} */
/* .xactive.hr_three ~ hr.stickyhr {
	margin-left: 66%;
} */
/* .xactive.hr_four ~ hr.stickyhr {
	margin-left: 75%;
} */

/* </style >  */

div.card-body.yoy_table {
	padding: 1px !important;
}
@media only screen and (max-width: 700px) {
	.qaz_panel-wrapper {
		width: auto;
		padding: 10px !important;
	}
}


@media only screen and (max-width: 700px) {
	.tgb_panel-wrapper {
		width: auto;
		padding: 10px !important;
	}
}
#tgb_page-tgb_tabs {
	margin-top: 20px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#tgb_page-tgb_tabs,
#tgb_page-tgb_tabs > ul {
	margin: 0;
	padding: 0;
}
#tgb_page-tgb_tabs #tgb_tabs {
	clear: both;
	overflow: auto;
	width: 100%;
}
#tgb_page-tgb_tabs #tgb_tabs > li {
	float: left;
	list-style: none;
	display: block;
	cursor: pointer;
	/* background-color: gray; */
}
#tgb_page-tgb_tabs #tgb_tabs > li .tgb_tab-wrapper {
	padding: 20px 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	/* white; */
	/* border-right: 1px solid #dedede; */
}
#tgb_page-tgb_tabs #tgb_tabs > li.last .tgb_tab-wrapper {
	border-right: none;
}
#tgb_page-tgb_tabs #tgb_tabs > li.xactive {
	/* background-color: #EDEDED; */
}
#tgb_page-tgb_tabs #tgb_tabs > li.xactive .tgb_tab-wrapper {
	color: #aa5c09;
}
#tgb_page-tgb_tabs #tgb_tabs > li.first {
}
#tgb_page-tgb_tabs #tgb_tabs > li.last {
}
#tgb_page-tgb_tabs #tgb_panels {
	clear: both;
	position: relative;
	list-style: none;
    max-height: 700px;
    overflow: scroll;
}
#tgb_page-tgb_tabs #tgb_panels > li {
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 100%;
	list-style: none;
}
#tgb_page-tgb_tabs #tgb_panels > li ul {
	margin: 10px 20px;
}
#tgb_page-tgb_tabs #tgb_panels > li ul li {
	list-style: disc;
}
#tgb_page-tgb_tabs #tgb_panels .tgb_panel-wrapper {
	display: none;
	width: auto;
	padding: 30px;
	/* background-color: #ededed; */
	position: relative;
}
#tgb_page-tgb_tabs #tgb_panels > li.xactive {
	height: auto;
}
#tgb_page-tgb_tabs #tgb_panels > li.xactive .tgb_panel-wrapper {
	display: block;
}
#tgb_page-tgb_tabs #tgb_panels .tgb_accordion-tab {
	display: none;
	padding: 25px 30px;
	/* background-color: #808080; */
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}
#tgb_page-tgb_tabs #tgb_panels .xactive .tgb_accordion-tab {
	border-bottom: none;
	/* background-color: #ededed; */
	color: #aa5c09;
	padding-bottom: 0px;
}
/* */
@media only screen and (max-width: 700px) {
	#tgb_page-tgb_tabs #tgb_tabs {
		display: none;
	}
	#tgb_page-tgb_tabs #tgb_panels > li {
		position: static;
		height: auto;
	}
	#tgb_page-tgb_tabs #tgb_panels .tgb_accordion-tab {
		display: block;
		border-bottom: 1px solid #595959;
	}
	/* #tgb_page-tgb_tabs #tgb_panels .panel-wrapper {
		width: auto;
		padding: 30px;
	} */
	#tgb_page-tgb_tabs #tgb_panels .tgb_accordion-tab {
		font-size: 17px;
	}
}

#qaz_page-qaz_tabs {
	margin-top: 20px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#qaz_page-qaz_tabs,
#qaz_page-qaz_tabs > ul {
	margin: 0;
	padding: 0;
}
#qaz_page-qaz_tabs #qaz_tabs {
	clear: both;
	overflow: auto;
	width: 100%;
}
#qaz_page-qaz_tabs #qaz_tabs > li {
	float: left;
	list-style: none;
	display: block;
	cursor: pointer;
	/* background-color: gray; */
}
#qaz_page-qaz_tabs #qaz_tabs > li .qaz_tab-wrapper {
	padding: 20px 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	/* white; */
	/* border-right: 1px solid #dedede; */
}
#qaz_page-qaz_tabs #qaz_tabs > li.last .qaz_tab-wrapper {
	border-right: none;
}
#qaz_page-qaz_tabs #qaz_tabs > li.xactive {
	/* background-color: #EDEDED; */
}
#qaz_page-qaz_tabs #qaz_tabs > li.xactive .qaz_tab-wrapper {
	color: #aa5c09;
}
#qaz_page-qaz_tabs #qaz_tabs > li.first {
}
#qaz_page-qaz_tabs #qaz_tabs > li.last {
}
#qaz_page-qaz_tabs #qaz_panels {
	clear: both;
	position: relative;
	list-style: none;
    max-height: 450px;
    overflow: scroll;
}
#qaz_page-qaz_tabs #qaz_panels > li {
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 100%;
	list-style: none;
}
#qaz_page-qaz_tabs #qaz_panels > li ul {
	margin: 10px 20px;
}
#qaz_page-qaz_tabs #qaz_panels > li ul li {
	list-style: disc;
}
#qaz_page-qaz_tabs #qaz_panels .qaz_panel-wrapper {
	display: none;
	width: auto;
	padding: 30px;
	/* background-color: #ededed; */
	position: relative;
}
#qaz_page-qaz_tabs #qaz_panels > li.xactive {
	height: auto;
}
#qaz_page-qaz_tabs #qaz_panels > li.xactive .qaz_panel-wrapper {
	display: block;
}
#qaz_page-qaz_tabs #qaz_panels .qaz_accordion-tab {
	display: none;
	padding: 25px 30px;
	/* background-color: #808080; */
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}
#qaz_page-qaz_tabs #qaz_panels .xactive .qaz_accordion-tab {
	border-bottom: none;
	/* background-color: #ededed; */
	color: #aa5c09;
	padding-bottom: 0px;
}
/* */
@media only screen and (max-width: 700px) {
	#qaz_page-qaz_tabs #qaz_tabs {
		display: none;
	}
	#qaz_page-qaz_tabs #qaz_panels > li {
		position: static;
		height: auto;
	}
	#qaz_page-qaz_tabs #qaz_panels .qaz_accordion-tab {
		display: block;
		border-bottom: 1px solid #595959;
	}
	/* #qaz_page-qaz_tabs #qaz_panels .panel-wrapper {
		width: auto;
		padding: 30px;
	} */
	#qaz_page-qaz_tabs #qaz_panels .qaz_accordion-tab {
		font-size: 17px;
	}
}
/* hr {
	height: 0.25rem;
	width: 25%;
	margin: 0;
	background: tomato;
	border: none;
	transition: 0.3s ease-in-out;
} */
a.tabs_title_links {
	/* display:block; */
	/* display: inline-block; */
	/* display: inline-table; */
	width: 25%;
	/* padding: .75rem 0; */
	margin: 0;
	text-decoration: none;
	color: #333;
	height: 100%;
	/* margin: 0 auto; */
}

.stickyhr {
	height: 0.25rem;
	width: 25%;
	margin: 0;
	background: tomato;
	border: none;
	transition: 0.3s ease-in-out;
}

.hr_one:hover ~ hr.stickyhr {
	margin-left: 0% !important;
}

.hr_two:hover ~ hr.stickyhr {
	margin-left: 25% !important;
}
.hr_three:hover ~ hr.stickyhr {
	margin-left: 50% !important;
}
.hr_four:hover ~ hr.stickyhr {
	margin-left: 75% !important;
}

.xactive.hr_one ~ hr.stickyhr {
	margin-left: 0%;
}

.xactive.hr_two ~ hr.stickyhr {
	margin-left: 25%;
}
.xactive.hr_three ~ hr.stickyhr {
	margin-left: 50%;
}
.xactive.hr_four ~ hr.stickyhr {
	margin-left: 75%;
}

/* <!-- tabs - wsx - financial statements --> */

#wsx_page-wsx_tabs {
	margin-top: 20px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#wsx_page-wsx_tabs,
#wsx_page-wsx_tabs > ul {
	margin: 0;
	padding: 0;
}
#wsx_page-wsx_tabs #wsx_tabs {
	clear: both;
	overflow: auto;
	width: 100%;
}
#wsx_page-wsx_tabs #wsx_tabs > li {
	float: left;
	list-style: none;
	display: block;
	cursor: pointer;
	/* background-color: gray; */
}
#wsx_page-wsx_tabs #wsx_tabs > li .wsx_tab-wrapper {
	padding: 20px 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	/* white; */
	/* border-right: 1px solid #dedede; */
}
#wsx_page-wsx_tabs #wsx_tabs > li.last .wsx_tab-wrapper {
	border-right: none;
}
#wsx_page-wsx_tabs #wsx_tabs > li.xactive {
	/* background-color: #EDEDED; */
}
#wsx_page-wsx_tabs #wsx_tabs > li.xactive .wsx_tab-wrapper {
	color: #aa5c09;
}
#wsx_page-wsx_tabs #wsx_tabs > li.first {
}
#wsx_page-wsx_tabs #wsx_tabs > li.last {
}
#wsx_page-wsx_tabs #wsx_panels {
	clear: both;
	position: relative;
	list-style: none;
}
#wsx_page-wsx_tabs #wsx_panels > li {
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 100%;
	list-style: none;
}
#wsx_page-wsx_tabs #wsx_panels > li ul {
	margin: 10px 20px;
}
#wsx_page-wsx_tabs #wsx_panels > li ul li {
	list-style: disc;
}
#wsx_page-wsx_tabs #wsx_panels .wsx_panel-wrapper {
	display: none;
	width: auto;
	padding: 30px;
	/* background-color: #ededed; */
	position: relative;
}
#wsx_page-wsx_tabs #wsx_panels > li.xactive {
	height: auto;
}
#wsx_page-wsx_tabs #wsx_panels > li.xactive .wsx_panel-wrapper {
	display: block;
}
#wsx_page-wsx_tabs #wsx_panels .wsx_accordion-tab {
	display: none;
	padding: 25px 30px;
	/* background-color: #808080; */
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}
#wsx_page-wsx_tabs #wsx_panels .xactive .wsx_accordion-tab {
	border-bottom: none;
	/* background-color: #ededed; */
	color: #aa5c09;
	padding-bottom: 0px;
}
/* */
@media only screen and (max-width: 700px) {
	#wsx_page-wsx_tabs #wsx_tabs {
		display: none;
	}
	#wsx_page-wsx_tabs #wsx_panels > li {
		position: static;
		height: auto;
	}
	#wsx_page-wsx_tabs #wsx_panels .wsx_accordion-tab {
		display: block;
		border-bottom: 1px solid #595959;
	}
	/* #wsx_page-wsx_tabs #wsx_panels .panel-wrapper {
		width: auto;
		padding: 30px;
	} */
	#wsx_page-wsx_tabs #wsx_panels .wsx_accordion-tab {
		font-size: 17px;
	}
}

/* <!-- tabs - edc_ - financial statements --> */
#edc_page-edc_tabs {
	margin-top: 20px;
	overflow: hidden;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#edc_page-edc_tabs,
#edc_page-edc_tabs > ul {
	margin: 0;
	padding: 0;
}
#edc_page-edc_tabs #edc_tabs {
	clear: both;
	overflow: auto;
	width: 100%;
}
#edc_page-edc_tabs #edc_tabs > li {
	float: left;
	list-style: none;
	display: block;
	cursor: pointer;
	/* background-color: gray; */
}
#edc_page-edc_tabs #edc_tabs > li .edc_tab-wrapper {
	padding: 20px 0px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #000000;
	/* white; */
	/* border-right: 1px solid #dedede; */
}
#edc_page-edc_tabs #edc_tabs > li.last .edc_tab-wrapper {
	border-right: none;
}
#edc_page-edc_tabs #edc_tabs > li.xactive {
	/* background-color: #EDEDED; */
}
#edc_page-edc_tabs #edc_tabs > li.xactive .edc_tab-wrapper {
	color: #aa5c09;
}
#edc_page-edc_tabs #edc_tabs > li.first {
}
#edc_page-edc_tabs #edc_tabs > li.last {
}
#edc_page-edc_tabs #edc_panels {
	clear: both;
	position: relative;
	list-style: none;
}
#edc_page-edc_tabs #edc_panels > li {
	margin: 0px;
	padding: 0px;
	height: 0px;
	width: 100%;
	list-style: none;
}
#edc_page-edc_tabs #edc_panels > li ul {
	margin: 10px 20px;
}
#edc_page-edc_tabs #edc_panels > li ul li {
	list-style: disc;
}
#edc_page-edc_tabs #edc_panels .edc_panel-wrapper {
	display: none;
	width: auto;
	padding: 30px;
	/* background-color: #ededed; */
	position: relative;
}
#edc_page-edc_tabs #edc_panels > li.xactive {
	height: auto;
}
#edc_page-edc_tabs #edc_panels > li.xactive .edc_panel-wrapper {
	display: block;
}
#edc_page-edc_tabs #edc_panels .edc_accordion-tab {
	display: none;
	padding: 25px 30px;
	/* background-color: #808080; */
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	font-size: 20px;
}
#edc_page-edc_tabs #edc_panels .xactive .edc_accordion-tab {
	border-bottom: none;
	/* background-color: #ededed; */
	color: #aa5c09;
	padding-bottom: 0px;
}
/* */
@media only screen and (max-width: 700px) {
	#edc_page-edc_tabs #edc_tabs {
		display: none;
	}
	#edc_page-edc_tabs #edc_panels > li {
		position: static;
		height: auto;
	}
	#edc_page-edc_tabs #edc_panels .edc_accordion-tab {
		display: block;
		border-bottom: 1px solid #595959;
	}
	#edc_page-edc_tabs #edc_panels .edc_panel-wrapper {
		width: auto;
		padding: 30px;
	}
	#edc_page-edc_tabs #edc_panels .edc_accordion-tab {
		font-size: 17px;
	}
}

hr {
	overflow: hidden !important;
}
