
.cursor_default{
  /* cursor:pointer; */
  z-index: 99999;
  /* pointer-events: auto; */
  /* position: relative; */
  color:orange;
  font-size:30px;
}
li:hover > ul.dropdown-menu {
    display: block;
    pointer-events: auto;
}
/* body{cursor: pointer;z-index: 99999;} */
.dropdown-menu{cursor: pointer;z-index: 99999;}
.dropdown-submenu {
    position:relative;
    cursor:pointer;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
li{display: list-item}
/* body{padding-left:200px} */
.dropdown-submenu {
    /* display: none; */
}
.dropdown-submenu::after {
    display: block;
}

.dropdown-toggle.search::after {
    display: none;
}

.dropdown:hover>.dropdown-menu.search {
  display: block;
}


.search_btn-primary:active, .search_search_btn-primary:focus, .search_btn-primary:hover,
.search_btn-primary:not(:disabled):not(.disabled).active, .search_btn-primary:not(:disabled):not(.disabled):active, .show > .search_btn-primary.dropdown-toggle {
    background-color: #FFFFFF !important;
    border-color: #FFFFFF !important;
    box-shadow: 0 0 0 0.2rem rgba(238,9,121,0);
    cursor: auto;
}
.form-control{
  margin-right:10px;

}
.search_btn-primary:hover{
  background-color: #FFFFFF;
  border: #FFFFFF 0px solid;
  /* padding:0px !important; */
}
.search_btn{
  padding-left:6px;
  padding-right:6px;
  }
.search_btn-primary{
  color: #ee0979;
  font-size:larger;
   border: #FFFFFF 0px solid;
  padding:0px !important;

  -webkit-font-smoothing: antialiased;
  
  background-color: #FFFFFF;
}
.typeahead{width:300px;}
.yoy_cards_current{
  text-align:center;
  display:block;
  font-size:16px;
  color: #177737;
}


.sasa:hover,.dada:hover{
  background-color: #f3f3f3;
}
.s_card_0{
  /* border: 2px solid #EDEDED; */
  /* font-weight:bolder; */

}
  .brand_right{
    margin-left:3px;
    line-height:20px;
  }
.brand_right:hover{
        /* box-shadow: inset 0 -4px 0 #c0e6f7; */
/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(89%,rgba(32, 213, 32, 0)), color-stop(93%,rgba(32, 213, 32, 1)), color-stop(95%,rgba(32, 213, 32, 1)), color-stop(96%,rgba(78, 228, 78, 1)), color-stop(97%,rgba(78, 228, 78, 1)), color-stop(100%,rgba(78, 228, 78, 0))); Chrome,Safari4+ */
    display: inline-block;
    text-decoration: none;


}
.big_cell{
  font-weight:bolder;
}
.all_time_price_chg, .percent_correlation_str, .price_metric_rate_change, .growth_10_years_str{
  /* color:#4285f4; */
          background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(198,232,248,0) 78%,rgba(192,230,247,1) 90%,rgba(192,230,247,1) 94%,rgba(184,226,245,1) 95%,rgba(184,226,245,1) 97%,rgba(184,226,245,0) 100%); /* Chrome10+,Safari5.1+ */
          font-weight:bold;
          text-shadow: 0.1px 0 0 currentColor;

}
  .charts_left{
        /* box-shadow: inset 0 -4px 0 #c0e6f7; */
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(198,232,248,0) 78%,rgba(192,230,247,1) 90%,rgba(192,230,247,1) 94%,rgba(184,226,245,1) 95%,rgba(184,226,245,1) 97%,rgba(184,226,245,0) 100%); /* Chrome10+,Safari5.1+ */

    /* background-color: #f1f1f1; */
    display: inline-block;
    text-decoration: none;
    /* border-left: solid #4285f4; */
    /* border-right: solid #4285f4 2px; */
    /* border-bottom: solid #4285f4 2px; */

    line-height:20px;
    padding-left:3px;
    padding-top:10px;
    padding-bottom:5px;
    /* padding-right:5px; */
  }
@media (max-width: 500px) {
  .charts_left, .brand_right{
    font-size:22px !important;
  }
  .tt-menu{
    width: 340px
  }
  .hide_on_mobile{
    display:none;
  }
.rightside{
  order:2
}
.horizontal_scroll{
  order:1
}
}
.yoy_subtitle{
  /* display:block; */
  font-size:12px !;
}
.spacer{
  width:10px;
  height:1px;
}



.sasa, .dada{
  margin-bottom: 2px;
}
.five_year_section{
  display: block;
  padding: 10px;
  font-size:24px;
}
.row{
  margin-left:0px;
  margin-right:0px;
}
.highbar_title{
  font-size: 20px;
  text-align: center;
}
.navbar-brand{
  margin-right:0px;
}
#PopupSignupForm_0{
  width:100px;
  overflow:hidden;
}
.mc-modal{
  max-height:400px;
  /* height:10px; */
  
}
.strictContent h2{
  font-size: 1em !important;
}
.yoy_card_link{
  color: black;

}

/* .modalContent__content{
  padding:10px !important;
} */
.mc-banner{
  bottom: 0;
  top: unset
}


.item{
  max-width:220px;
  /* word-wrap: wrap; */
  /* word-break: break-all; */
  /* width: 20%; */
  vertical-align: middle;

}
.yoy_cards_title {
    font-size: 17px !important;
    /* max-width: 100px; */
    /* word-wrap: break-word; */
    white-space: pre-wrap !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-bottom: 10px !important;
    text-align: center !important;
    height: 60px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 10px; */
}


.yoy_cards_metric{
  display:block;
  text-align:center;
  font-size: 30px;
  padding-top:10px;
}
/* .horizontal_scroll{
    overflow: auto;
  white-space: nowrap;
} */
.tabs_links_ol{
  /* text-align:center; */
}
.center_tab_header{
  /* text-align:center; */
   border-top: 3px solid #d0b8b8;
}

.center_tab_header_top{
  /* text-align:center; */
   border-top: 3px solid #d0b8b8;
}

.dropdown_nav ul {
    /* background: #ddd; */
    font-size: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}
.dropdown_nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 33%;
}
.dropdown_nav a {
    background: #ddd;
    color: #444;
    display: block;
    font: bold 16px/50px sans-serif;
    padding: 0 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.dropdown_nav .dropdown_products:after {
    content: ' \25bc';
}
.dropdown_nav li:hover a {
    background: #ccc;
}
.dropdown_nav li ul {
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
.dropdown_nav li:hover ul {
    opacity: 1;
    top: 50px;
    visibility: visible;
}
.dropdown_nav li ul li {
    width: 100%;
}
.dropdown_nav li ul a:hover {
    /* background: #bbb; */
}
