{% extends "base.html" %}
{% block charts_quarter_head %}

<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/sliding_tabs.css') }}">

        <script>
            document.addEventListener('DOMContentLoaded', function (data) {
                // df_json = {{ df_json }};
                // year_df_json = {{ year_df_json }};
                // price_json = {{ price_json }};
                var groupings = ['sum', 'average', 'sum'];
                Highcharts.dateFormats = {
                    q: function (timestamp) {
                        var date = new Date(timestamp),
                            quarter = (Math.floor(date.getUTCMonth() / 3) + 1);
                        console.log(quarter);
                        return quarter;
                    }
                };
                (function (H) { // internal functions
                    function stopEvent(e) {
                        if (e) {
                            if (e.preventDefault) {
                                e.preventDefault();
                            }
                            if (e.stopPropagation) {
                                e.stopPropagation();
                            }
                            e.cancelBubble = true;
                        }
                    }
                    // the wrap
                    H.wrap(H.Chart.prototype, 'render', function (proceed) {
                        var chart = this,
                            mapNavigation = chart.options.mapNavigation;
                        proceed.call(chart);
                        // Add the mousewheel event
                        H.addEvent(chart.container, document.onmousewheel === undefined ? 'DOMMouseScroll' : 'mousewheel', function (event) {
                            var delta,
                                extr,
                                step,
                                newMin,
                                newMax,
                                axis = chart.xAxis[0];
                            var dataMax = chart.xAxis[0].dataMax,
                                dataMin = chart.xAxis[0].dataMin,
                                stepDivisor = 5,
                                newExtrMin,
                                newExtrMax;
                            e = chart.pointer.normalize(event);
                            // Firefox uses e.detail, WebKit and IE uses wheelDelta
                            delta = e.detail || -(e.wheelDelta / 120);
                            delta = delta < 0 ? 1 : -1;
                            if (chart.isInsidePlot(e.chartX - chart.plotLeft, e.chartY - chart.plotTop)) {
                                extr = axis.getExtremes();
                                step = (extr.max - extr.min) / stepDivisor * delta;
                                if ((extr.min + step) <= dataMin) {
                                    newExtrMin = dataMin;
                                    newExtrMax = extr.max;
                                } else if ((extr.max + step) >= dataMax) {
                                    newExtrMin = extr.min;
                                    newExtrMax = dataMax;
                                } else {
                                    newExtrMin = extr.min + step;
                                    newExtrMax = extr.max + step;
                                } axis.setExtremes(newExtrMin, newExtrMax, true, false);
                            }
                            stopEvent(event); // Issue #5011, returning false from non-jQuery event does not prevent default
                            return false;
                        });
                    });
                }(Highcharts));
                var myChart = Highcharts.stockChart('highbar', {
                    // SECTION - Highcharts - top
                    legend: {
                        enabled: true,
                        // verticalAlign: 'top',
                        backgroundColor:'#FFFFFF',
                        borderColor:'#E9E9E9',
                        borderWidth:2,
                    },
                    // animation: false,
                    navigator: {
                        // enabled: false
                    },
                    tooltip: {
                        shared: true,
                        crosshairs: true
                    },
                    responsive: {
                        rules: [
                            {
                                condition: {
                                    maxWidth: 500
                                },
                                chartOptions: {
                                    chart: {},
                                    subtitle: {
                                        // text: null
                                    },
                                    navigator: {
                                        enabled: false
                                    },
                    plotOptions: { line:{
                        dataLabels:{
                            // enabled:false,
                            format: "FY {point.x:%y}",
                        }
                    }},
                    legend: {
                        enabled: true,
                        verticalAlign: 'bottom',
                    },
                                }
                            }
                        ]
                    },
                    chart: {
                        // margin: [0, 70, 0, 70],
                        alignTicks: true,
                        credits: {
                            enabled: false
                        },
                        style: {
                            fontFamily: "'Nunito Sans', Verdana, Arial, Helvetica, sans-serif",
                            textOutline: false,
                            fontSize: "14px"
                        },
                        // borderWidth: 2,
                        // marginRight: 100,
                        // marginLeft: 100,
                        marginTop: 10,
                        renderTo: 'highbar',
                        events: {
                            render() {
                                var ticks = this.xAxis[0].ticks,
                                    ticksPositions = this.xAxis[0].tickPositions,
                                    tick0x,
                                    tick1x,
                                    getPosition = function (tick) {
                                        var axis = tick.axis;
                                        return Highcharts.Tick.prototype.getPosition.call(tick, axis.horiz, tick.pos, axis.tickmarkOffset);
                                    };
                                tick0x = getPosition(ticks[ticksPositions[0]]).x;
                                tick1x = getPosition(ticks[ticksPositions[1]]).x;
                                this.xAxis[0].labelGroup.translate((tick1x - tick0x) / 2)
                            }
                        }
                    },
                    title: {
                        // text: '{{company_symbol}} Stock Price & {{ fin_metric_name }}',
                        // borderRadius: 5,
                        // backgroundColor: 'rgba(252, 255, 197, 0.7)',
                        // borderWidth: 1,
                        // borderColor: '#AAA',
                    useHTML: true,
                    style: {
                        color: '#000000',
                        'background-color': '#FFFFFF',
                        fontWeight: 'bold'
                    },
                        // verticalAlign: 'bottom',
                    },
                    rangeSelector: { // SECTION - Highcharts - range selector
                        selected: 2,
                        verticalAlign: 'bottom',
                        inputPosition: { align: 'center',
                            x: 0,
                            y: 0
                        },
                        buttonPosition: { // align: 'right',
                            x: 0,
                            y: 0
                        },
                        buttons: [
                            {
                                type: 'year',
                                count: 3,
                                text: '3Y',
                                dataGrouping: {
                                    enable: true
                                }
                            }, {
                                type: 'year',
                                count: 5,
                                text: '5Y',
                                dataGrouping: {
                                    enable: true
                                }
                            }, {
                                type: 'year',
                                count: 10,
                                text: '10y',
                                dataGrouping: {
                                    enable: false
                                }
                            }, {
                                type: 'all',
                                text: 'All',
                                dataGrouping: {
                                    enable: false,
                                    approximation: groupings[4]
                                }
                            }
                        ]
                    },
                    xAxis: [
                        {
                            // SECTION - Highcharts - xAxis = top
                            // height:1,
                            events: {
                                afterSetExtremes: function () {
                                    this.displayBtn ? $('.highcharts-scrollbar').show() : $('.highcharts-scrollbar').hide()
                                },
                            },
                            scrollbar: {
                                enabled: true
                            },
                            // zoomType: 'x',
                            events: {
                                load: function () {
                                    $('.highcharts-scrollbar').hide()
                                }
                            },
                            labels: {
                                style: {
                                    color: '#black', // 'red'
                                    fontSize: '14px'
                                }
                            },
                            // visible: false,
                            crosshair: {
                                width: 2,
                                color: '#1C9179',
                                snap: false,
                                className: "x_crosshair",
                                zIndex: 100
                            },
                            type: 'datetime',
                            dateTimeLabelFormats: {
                                month: 'Q%q %Y', //'%Y', // 'Q%q - %y',
                                year: '%Y'
                            },
                            // alternateGridColor: '#FDFFD5', // '#FEF8E3'
                            minPadding: 0,
                        }, {
                            labels: {
                                style: {
                                    color: 'black', // 'red'
                                    fontSize: '14px',
                                    fontWeight: 'bold'
                                }
                            },
                            crosshair: {
                                width: 2,
                                color: '#1C9179',
                                snap: false,
                                className: "x_crosshair",
                                zIndex: 100
                            },
                            type: 'datetime',
                            dateTimeLabelFormats: {},
                            format: '{value:%Y}',
                            minPadding: 0
                        },
                    ],
                    plotOptions: {
                        line: { // SECTION - Highcharts - plotOptions - line
                            allowPointSelect: true,
                            connectNulls: true,
                            dataLabels: {
                                enabled: true,
                                // format: "FY {point.x:%Y}", // "{point.x:%b %e}",
                                borderRadius: 5,
                                formatter: function() {
                                    var point1 = this.series.data[this.series.data.length - 1];
                                    if(((Highcharts.dateFormat('%y', this.x)) % 2 == 0) && (this.point != point1)) {
                                        return '<span style="color:black; opacity:1;">FY ' + Highcharts.dateFormat('%Y', this.x) +'</span>';
                                    }
                                    else if ((Highcharts.dateFormat('%y', this.x)) % 2 != 0){
                                    return '';} //'%b/%e/%Y'
                                    else if (this.point == point1){
                                        var latest_stock_price = this.y;
                                    // return Highcharts.dateFormat('%Y', this.x);}
                                    // return '';}
                                    return '<span style="color:black; opacity:1;">FY ' + Highcharts.dateFormat('%Y', this.x) +'</span>';}
                                },
                                backgroundColor: "#FFFFFF", //'rgba(252, 255, 197, 0.7)',
                                // backgroundColor: 'rgba(252, 255, 197, 0.7)',
                                borderWidth: 1,
                                borderColor: '#AAA',
                                // x:10,
                                // y: 50,
                                opacity: 1,
                            },
                            pointPlacement: 'on'
                        },
                        spline: { // SECTION - Highcharts - plotOptions - area
                        },
                        column: { // SECTION - Highcharts - plotOptions- column
                            groupPadding: 0.1,
                            color: '#D6D9BF',
                        },
                        series: {
                            name: 'Quarterly Data',
                            groupPadding: 0,
                            dataGrouping: {
                                enabled: false
                            },
                            type: 'line',
                            xAxis: 1,
                        },
                        series: {
                            type: 'area',
                            marker: {
                                radius: 4,
                                // fillColor: '#1ebd1e',
                                enabled: true,
                                zIndex: 100
                            },
                            xAxis: 0,
                            name: "Full-Year (FY)   {{ fin_metric_name }}",
                            dataGrouping: {
                                enabled: false
                            },
                            states: {
                                inactive: {
                                    opacity: 1
                                }
                            }
                        }
                    },
                    yAxis: [ // SECTION - Highcharts - yAxis
                        {
                            yAxis: 1,
                            maxPadding: 0.1,
                            crosshair: {
                                width: 2,
                                color: '#1C9179',
                                snap: false,
                                className: "y_crosshair",
                                zIndex: 100
                            },
                            // tickAmount: 6,
                            opposite: false,
                            gridLineColor: 'transparent',
                            // height:'90%',
                            // tickPixelInterval: 70,
                            tickPositioner: function () {
                                var positions = [],
                                    tick = this.dataMin, // Math.floor(this.dataMin),
                                    // https://stackoverflow.com/questions/31925204/highcharts-line-charts-out-of-memory
                                    // increment = Math.ceil((this.dataMax - this.dataMin) / 6);
                                    increment = Math.max(1,Math.ceil((this.dataMax - this.dataMin) / 6));
                                for (; tick - increment <= this.dataMax; tick += increment) {
                                    positions.push(tick);
                                }
                                return positions;
                            },

                            labels: {
                                style: {
                                    color: '#4285F4', // 'red'
                                    fontSize: '14px',
                                    // fontWeight: 'bold',
                                },
                                overflow: 'justify',
                                formatter: function(){
                                    zoom_values_stock_price = $(this.axis.tickPositions)
                                    price_percent = Math.round(100 * this.value / zoom_values_stock_price[0])-100
                                    price_percent = price_percent.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                    return '<span style="">' + '<b>{{ currency_symbol }}' + Math.round(this.value*100)/100 +'</b><br>' + price_percent + '' + '%' + '</span>'; // zoom_values[0];//
                                },
                                align: 'right'
                            },
                            // tickPixelInterval: 70,
                        },
                        {// SECTION - Highcharts - yAxis - metric - percent
                            opposite:true,
                            yAxis: 1,
                            title:'metric',

                            {% if statement_or_ratio != "sratios" %}
                            tickPositioner: function () {

                                var positions = [],
                                    tick = Math.floor(this.dataMin*100),
                                    // increment = Math.ceil((this.dataMax*100 - this.dataMin*100) / 6);
                                    increment = Math.max(1,Math.ceil((this.dataMax*100 - this.dataMin*100) / 6));
                                for (; tick - increment <= this.dataMax*100; tick += increment) {
                                    positions.push(tick/100);
                                }
                                return positions;
                            },
                            {% endif %}

                            labels: { // SECTION - Highcharts - yAxis - labels
                                style: {
                                    color: '#177737', // 'red'
                                    fontSize: '14px'
                                },
                                overflow: 'justify',
                                // x: 50,
                                align: 'left',
                                formatter: function () {
                                    zoom_values_fy_metric = $(this.axis.tickPositions)
                                    metric_percent = (Math.round(100 * this.value / zoom_values_fy_metric[0]))-100;
                                    metric_percent = metric_percent.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
                                    if (this.value >= 1000000000) {
                                        billion_rounded = Math.round((this.value / 1000000000) * 1) / 1;
                                        return('<b>  {{ currency_symbol }}' + billion_rounded + 'B</b>' + '<br>' + metric_percent + '%');
                                    } else if (this.value >= 1000000) {
                                        million_rounded = Math.round((this.value / 1000000) * 1) / 1;
                                        return('<b>  {{ currency_symbol }}' + million_rounded) + 'M</b>' + '<br>' + metric_percent + '%';
                                    } else if (this.value >= 10000) {
                                        thousand_rounded = Math.round((this.value / 1000) * 1) / 1;
                                        return('<b>  {{ currency_symbol }}' + this.value / 1000) + 'K</b>' + '<br>' + metric_percent + '%';
                                    } else { // return '<b>$' + this.y + '</b>';
                                        million_rounded = Math.round((this.value / 1) * 100) / 100;
                                        return('<b>' + million_rounded) + '</b>' + '<br>' + metric_percent + '%';
                                    }
                                }
                            },
                            // tickPixelInterval: 70,
                        },
                    ],
                    // SECTION - Highcharts - yAxis - tooltip (formatter)
                    series: [
                        {
                            type: 'spline',
                            name: 'Stock Price',
                            color: '#4285F4', // robinhood green
                            // pointInterval: 1,
                            // pointIntervalUnit: 'year',
                            tooltip: {
                                // TODO make the datapoint markers better
                                backgroundColor: '#FFFFFF', // '#1ebd1e', // 'red'
                                opacity: .7,
                                style: {
                                    color: '#000000',
                                    fontSize: '14px',
                                    fontWeight: 'bold'
                                },
                                enabled: true,
                                shared: true,
                                valuePrefix: "{{ currency_symbol }}",
                                pointFormatter: function () {
                                    // https://stackoverflow.com/questions/25973920/how-to-display-highchart-series-line-marker-symbol-from-tooltip-formatter
                                    // ●♦■▲▼
                                    stock_price = Math.round((this.y) * 100) / 100;
                                    return '♦ ' + this.series.name + ' <b>  {{ currency_symbol }}' + stock_price + '</b>';
                                }
                            },
                            data: price_json,
                            zIndex: 98,
                            yAxis: 0,
                        },
                        {
                            // SECTION - Highcharts - series - all
                            type: 'area',
                            lineWidth: 0,
                            fillOpacity: .1,
                            // color: "#177737",
                            marker: {
                                // symbol: 'triangle',
                                radius: 5,
                                states: {
                                    hover: {
                                        enabled: true,
                                        lineColor: 'rgb(100,100,100)'
                                    }
                                }
                            },
                            name: 'Quarterly (Q)   {{ fin_metric_name }}',
                            pointInterval: 1,
                            pointIntervalUnit: 'year',
                            tooltip: {
                                // split: true,
                                shared: true,
                                xDateFormat: 'Q%q %Y',
                                shadow: true,
                                borderWidth: 1,
                                borderColor: '#AAA',
                                backgroundColor: '#FFFFFF', // '#1ebd1e', // 'red'
                                opacity: .7,
                                style: {
                                    color: '#000000',
                                    fontSize: '14px',
                                    fontWeight: 'bold'
                                },
                                enabled: true,
                                // shared: false,
                                valuePrefix: "{{ currency_symbol }}",
                                pointFormatter: function () {
                                    // ●♦■▲▼
                                    // this.series.name
                                    tooltip_legend = Highcharts.dateFormat('Q%q %Y', this.x) + ' '; // '● '+ this.series.name
                                    if (this.y >= 1000000000) {
                                        billion = this.y / 1000000000;
                                        billion_rounded = Math.round((billion) * 10) / 10;
                                        return(tooltip_legend + '<b>  {{ currency_symbol }}' + billion_rounded) + 'B</b>';
                                    } else if (this.y >= 1000000) {
                                        million = this.y / 1000000
                                        million_rounded = Math.round((million) * 10) / 10;
                                        return(tooltip_legend + '<b>  {{ currency_symbol }}' + million_rounded) + 'M</b>';
                                    } else if (this.y >= 10000) {
                                        thousand = this.y / 1000
                                        thousand_rounded = Math.round((thousand) * 10) / 10;
                                        return(tooltip_legend + '<b>  {{ currency_symbol }}' + this.y / 1000) + 'K</b>';
                                    } else { // return '<b>$' + this.y + '</b>';
                                        ratio = this.y / 1
                                        million_rounded = Math.round((ratio) * 100) / 100;
                                        return(tooltip_legend + '<b>' + million_rounded) + '</b>';
                                    }
                                },
                                positioner: function (width, height, point) {
                                    var chart = this.chart,
                                        position;
                                    if (point.isHeader) {
                                        position = {
                                            x: Math.max(
                                                // Left side limit
                                                chart.plotLeft,
                                                Math.min(point.plotX + chart.plotLeft - width / 2,
                                                // Right side limit
                                                chart.chartWidth - width - chart.marginRight)
                                            ),
                                            y: point.plotY
                                        };
                                    } else {
                                        position = {
                                            x: point.series.chart.plotLeft,
                                            y: point.series.yAxis.top - chart.plotTop
                                        };
                                    }
                                    return position;
                                },
                                shape: 'square',
                                headerShape: 'callout',
                                borderWidth: 1,
                                borderColor: '#AAA',
                                shadow: false
                            },
                            data: df_json,
                            zIndex: 98,
                            yAxis: 1
                        }, {
                            type: 'line',
                            yAxis: 1,
                            zIndex: 100,
                            tooltip: {
                                shared: true,
                                xDateFormat: 'FY %Y',
                                // '%b - %Y'
                                // backgroundColor: '#1ebd1e',
                                // tooltip_legend = '● '+ this.series.name
                                // tooltip_legend +
                                valuePrefix: "{{ currency_symbol }}",
                                pointFormatter: function () {
                                    // ●♦■▲▼
                                    // tooltip_legend = this.series.name + ' '; //'● '+ this.series.name
                                    tooltip_legend = Highcharts.dateFormat('FY %Y', this.x) + ' '; // '● '+ this.series.name
                                    if (this.y >= 1000000000) {
                                        billion = this.y / 1000000000;
                                        billion_rounded = Math.round((billion) * 10) / 10;
                                        return(tooltip_legend + '<b>  {{ currency_symbol }}' + billion_rounded) + 'B</b>';
                                    } else if (this.y >= 1000000) {
                                        million = this.y / 1000000
                                        million_rounded = Math.round((million) * 10) / 10;
                                        return(tooltip_legend + '<b>  {{ currency_symbol }}' + million_rounded) + 'M</b>';
                                    } else if (this.y >= 10000) {
                                        thousand = this.y / 1000
                                        thousand_rounded = Math.round((thousand) * 10) / 10;
                                        return(tooltip_legend + '<b>  {{ currency_symbol }}' + this.y / 1000) + 'K</b>';
                                    } else { // return '<b>$' + this.y + '</b>';
                                        ratio = this.y / 1
                                        million_rounded = Math.round((ratio) * 100) / 100;
                                        return(tooltip_legend + '<b>' + million_rounded) + '</b>';
                                    }
                                }
                            },
                            pointInterval: 3,
                            pointIntervalUnit: 'month',
                            color: '#177737', // '#343A40', // '#1C9179',
                            lineWidth: 3,
                            xDateFormat: '%Y',
                            findNearestPointBy: 'xy',
                            data: year_df_json
                        },
                    ]
                });
            });
        </script>
        <script>
                var df_json = {{ df_json }};
                var year_df_json = {{ year_df_json }};
                var price_json = {{ price_json }};
                var currency_symbol = {{currency_symbol}}

        </script>
        <script src="{{ url_for('static', filename='../static/js/quarterly.js') }}"></script>


{% endblock %}

        {% block quarterly_body %}


</div>
<div class="table_container"></div>
<div id="chart"></div>
<div class="d-flex flex-column" id="content-wrapper">
    <div class="row">
        <!-- <div class="col-md-9 col-lg-9 col-xl-9">  -->
            <div class="col-md-8 col-lg-8 col-xl-8">
            <div class="text-dark h1_info">
                <!-- <h1 class="text-primary mb-0 pad-10-top pad-10-bottom pad-10-left pad-10-right"> -->
                <h1 class="text-primary mb-0 pad-10-top pad-10-bottom">
                    <strong>
                        {{ company_long_name }}
                    (
                    {{ company_symbol }}
                    )
                    <!-- {{ fin_metric_name }} -->
                    |
                    {{ earliest_year }}
                    -
                    {{ latest_year }} ({{ num_years }} years)
                    </strong>
                </h1>
                <span class="daily_pct_chg">
                    <!-- Stock Price: -->
                 {{currency_symbol}}{{last_price}}
                 </span>
            {% if last_pct_change_str != "0%" %}
                 {{last_pct_change_str}}
            {% elif pct_chg_num < 0 %}
            <!-- nothing -->
            {% else %}
            <!-- nothing -->
            {% endif %}
                <br>
                <h2 class="text-primary mb-0">
                    <!-- {{ latest_year }} -->
                    Last 12 Months
                {{ fin_metric_name }}
                    <!-- <span class="up_green">
                        <i class="fa fa-arrow-up up_green" aria-hidden="true"></i>
                    </span> -->
                    :
                    <!-- <i class="fa fa-arrow-down down_red" aria-hidden="true"></i> -->
                    <!-- <br / > -->
                    {{ last_4_quarters_str }}
                (YoY
                {{ y_y_chg }}
                )
                    <br>
                </h2>
            </div>
            <div class="pad-10-top pad-10-bottom pad-10-left pad-10-right">
                <div class="highbar_container">
                    {{company_symbol}}
                    <span class="highbar_title_stock">
                    Stock Price</span> &
                    <span class="highbar_title_metric">
                    {{ fin_metric_name }}</span>
                    <div id="highbar" style="height: 600px; width:100%;">
                        <!-- <div id="highbar" style="height: 400px; width:100%;"> --></div>
                    <br>
                    Checkout the
                {{ fin_metric_name }}
                for
                {{ company_symbol }}
                competitors:
                {{ company_similar }}
                .
                </div>







    <div id="qaz_page-qaz_tabs" class="qaz_page-qaz_tabs-css rfv-parent">
        <ul id="qaz_tabs" class="qaz_tabs-css rfv-tabs">
            <li class="hr_one"><a href="#/" class="tabs_title_links"><div class="innerhref">Historical Table</div></a></li>
            <li class="hr_two"><a href="#/" class="tabs_title_links"><div class="innerhref">About the Company</div></a></li>
            <li class="hr_three"><a href="#/" class="tabs_title_links"><div class="innerhref">Definition / Formula</div></a></li>
            <li class="hr_four"><a href="#/" class="tabs_title_links"><div class="innerhref">Our Data (free) and Datasets ($10)</div></a></li>
            <hr class="stickyhr" />
        </ul>
        <ul id="qaz_panels" class="qaz_panels-css rfv-panels">
            <li>Panel 1
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0 metric_table">
                        {{ company_long_name }}
                    (
                    {{ company_symbol }}
                    ) Historical
                    {{ fin_metric_name }}
                    Table
                    </h6>
                </div>
                <div class="card-body yoy_table">
                    {% for table in df_html_tall %}
                    {{ df_html_tall[0]|safe }}
                    {% endfor %}
                </div>

            </li>
            <li>Panel 2
                <span class="key_points">About {{company_name}}</span>
                    <span class="key_body">
                {{company_description}}
                <br>
                Industry: {{company_industry}}
                <br>
                Sector: {{company_sector}}
                <br>
                Country: {{company_country}}
                <br>
                IPO Date {{company_ipo_date}}
                <br>
                Stock Exchange: {{company_exchange}}


        </span>
            </li>
            <li>Panel 3</li>
            <li>Panel 4</li>

        </ul>
    </div>



    <div id="wsx_page-wsx_tabs" class="wsx_page-wsx_tabs-css rfv-parent">
        <ul id="wsx_tabs" class="wsx_tabs-css rfv-tabs">
            <li class="hr_one"><a href="#/" class="tabs_title_links"><div class="innerhref">Financial Statements</div></a></li>
            <li class="hr_two"><a href="#/" class="tabs_title_links"><div class="innerhref">Balance Sheet</div></a></li>
            <li class="hr_three"><a href="#/" class="tabs_title_links"><div class="innerhref">Income Statement</div></a></li>
            <li class="hr_four"><a href="#/" class="tabs_title_links"><div class="innerhref">Cash Flow Statement</div></a></li>
            <hr class="stickyhr" />
        </ul>
        <ul id="wsx_panels" class="wsx_panels-css rfv-panels">
            <li>Panel 1</li>
            <li>Panel 2</li>
            <li>Panel 3</li>
            <li>Panel 4</li>
        </ul>
    </div>

    <div id="edcpage-edctabs" class="edcpage-edctabs-css rfv-parent">
        <ul id="edctabs" class="edctabs-css rfv-tabs">
            <li class="hr_one"><a href="#/" class="tabs_title_links"><div class="innerhref">Popular Ratios</div></a></li>
            <li class="hr_two"><a href="#/" class="tabs_title_links"><div class="innerhref">Profit & Sales Ratios (36)</div></a></li>
            <li class="hr_three"><a href="#/" class="tabs_title_links"><div class="innerhref">Debt-Related Ratios (25)</div></a></li>
            <li class="hr_four"><a href="#/" class="tabs_title_links"><div class="innerhref">Other Ratios (10)</div></a></li>
            <hr class="stickyhr" />
        </ul>
        <ul id="edcpanels" class="edcpanels-css rfv-panels">
            <li>Panel 1</li>
            <li>Panel 2</li>
            <li>Panel 3</li>
            <li>Panel 4</li>

        </ul>
    </div>



                <div class="content">
                    <div class="container-fluid">
                    </br>
                    <div class="col">
                        <div></div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div id="accordion" class="accordion">
                    <div class="card mb-0">
                        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
                            <a class="card-title">
                                {{ fin_metric_name }}
                            Definition and Formula (What is Current Ratio?)
                            </a>
                        </div>
                        <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
                            <p>
                                According to Investopedia... See: Macrotrends and Gurufocus definitions https://www.gurufocus.com/term/mktcap/AAPL/Market-Cap/Apple
                            {{ company_description }}
                            </p>
                            <p>
                                {{ company_long_name }}
                            {{ country_ipo_date }}
                            on the
                            {{ company_exchange }}
                            exchange and started trading with the ticker "
                            {{ company_symbol }}
                            ".
                            </p>

                        <p>
                            {{ company_short_name }}
                        celebrated it's 10th year anniversary with a
                        {{ fin_metric_name }}
                        of 10. By the looks of it's history (see: the chart and stats above), you can expect
                        {{ company_short_name }}
                        to maintain a positive
                        {{ fin_metric_name }}
                        .
                        </p>
                    </div>
                    <div id="collapseThree" class="collapse" data-parent="#accordion">
                        <div class="card-body">
                            Apple, Inc's
                        {{ fin_metric_name }}
                        is 0.7, and it's a great one. A
                        {{ fin_metric_name }}
                        of 0.7 places it ahead of it's industry (Computer Hardware) average of 0.5 and sector (Technology) average. The industry includes the likes of
                        {{ company_similar }}
                        . The highest and lowest
                        {{ fin_metric_name }}
                        in the industry are 0.9 (NFLX) and 0.3 (GOOGL), respectively.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col rightside">
    <div class="card shadow border-left-primary py-2 rightside" style="margin: 5px;">
        <!-- <div class="card shadow border-left-primary py-2 sticky-top" style="margin: 10px;"> -->
        <div class="card-body summary_header">
            <h2 class="text-primary mb-0 historical">
                <!-- Summary Statistics (Annual)
                            <br> -->
                <!-- {{ fin_metric_name }} -->
                <!-- <br> -->
                Stats for <span class="greenish">{{fin_metric_name}}</span>
                <!-- (
            {{ earliest_year }}
            -
            {{ latest_year }}
            ) -->
            </h2>
            <!-- <br> -->
            <!-- <div class="text-dark font-weight-bold h5 mb-0"></div> -->
        </div>
        <div class="card-body summary_body">
            <div class="text-dark font-weight-bold h5 mb-0"></div>


            <!-- <hr class="stats_hr"> -->

                        {% if statement_or_ratio != "ratios" %}

            <div class="table-responsive tstat0">
                <table class="table">
                    <!-- <thead class="fin_metric-stats">
                                        <tr>
                                            <th>
                                                Statistic
                                            </th>
                                            <th>
                                                Ratio
                                            </th>
                                        </tr>
                                    </thead> -->
                        <tbody class="lifetime">
                        <tr>
                            <td class="hist_measure">
                                Lifetime, Total <br />(
                                {{ earliest_year }}
                                -
                                {{ latest_year }}
                                )
                            </td>
                            <td class="hist_stats">
                                {{ lifetime_sum_all_metric }}
                            </td>
                            <td rowspan="2" class="subtd pct_chg_summary">
                            </td>
                            <!-- <td class="stock_price_rows">Stock Price</td> -->
                        </tr>
                        </tbody>

                </table>
                </div>
                {% endif %}

                <!-- <hr class="stats_hr"> -->
                <!-- <br> -->
                <div class="table-responsive tstat1">
                    <table class="table">
                        <!-- <tr>
                            <td class="hist_measure">
                                Change (
                            {{ earliest_year }}
                            -
                            {{ latest_year }}
                            )
                            </td>
                            <td class="hist_stats">
                                <b>
                                    {{ historical_pct_chg }}
                                </b>
                            </td>
                        </tr> -->
                        <tbody class="historical_metric_change">
                        <!-- <tr>
                            <td class="hist_measure">
                                                        Change (Annual)
                                                    </td>
                                                    <td class="hist_stats">
                                                        {{ annual_pct_chg_str }}
                                                    </td></tr> -->
                        <tr>
                            <td class="subtd_header">
                                {{ latest_year }}
                            </td>
                            <td class="subtd_body">
                                {{ latest_metric_str }}
                            </td>
                            <td rowspan="2" class="subtd pct_chg_summary big_cell">
                                {{ hist_pct_chg_str }}
                                <br>
                                <span class="over_x_years">
                                    (
                                {{ annual_pct_chg_str }}
                                /year avg)
                                <!-- annual average) -->
                                </span>
                            </td>
                            <!-- <td class="stock_price_rows">asdsa</td> -->
                            <!-- <td class="subtd">{{ annual_pct_chg_str }}</td> -->
                        </tr>
                        <tr>
                            <td class="subtd_header">
                                {{ earliest_year }}
                            </td>
                            <td class="subtd_body">
                                {{ earliest_metric_str }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <!-- <hr class="stats_hr"> -->
                <!-- <br> -->
                <div class="table-responsive tstat2">
                    <table class="table">
                <tbody class="peakbottom">
                <tr>
                    <td class="hist_measure subtd_header">
                        Peak
                    </td>
                    <td class="hist_stats middle">
                        {{ max_str }}
                    </td>
                    <td rowspan="2" class="subtd max_min_summary big_cell ">
                        {{ max_min_range_str }}
                    </td>
                </tr>
                <tr>
                    <td class="hist_measure subtd_header">
                        Bottom
                    </td>
                    <td class="hist_stats middle">
                        {{ min_str }}
                    </td>
                </tr>
            </tbody>

                </table>
                </div>
                <!-- <hr class="stats_hr"> -->
                <!-- <br> -->
                <div class="table-responsive tstat3">
                    <table class="table">
            <tbody class="updownyears">
                <tr>
                    <td class="hist_measure subtd_header">
                        # of Up Years <br>
                        <span class="font12">Positive YoY change (0%+)</span>
                    </td>
                    <td class="hist_stats middle">
                        {{ num_years_increased }}
                    </td>
                    <td rowspan="2" class="subtd big_cell big_up_year">
                        {{num_years_increased}} of {{num_years}} <br>years up.
                    </td>
                </tr>
                <tr>
                    <td class="hist_measure subtd_header">
                        # of Down Years <br><span class="font12">Negative YoY change</span>
                    </td>
                    <td class="hist_stats middle">
                        {{ num_years_bad }}
                    </td>
                </tr>
            </tbody>
                </table>
                </div>
                <!-- <hr class="stats_hr"> -->


    <br>
            <h2 class="key_points">Key Points <span class="key_subtitle">(Stock Price Comparison)</span></h2>
            <!-- <br> -->
            <!-- <h4><span class="key_subtitle">Stock Price Comparison</span></h4> -->
            <span class="key_body">
                <ul class="key_bullets">
            <li>
                <h3 class="bigif">
                If {{ company_symbol }}
            {% if pct_chg_num >= 1 %}
            grows
            {% elif pct_chg_num < 1 %}
            shrinks
            {% else %}
            <!-- nothing -->
            {% endif %}
            it's stock at the same rate as it's  {{ fin_metric_name.lower() }}  ({{ annual_pct_chg_str }}/year) , it's stock price will
            {% if pct_chg_num >= 1 %}
            grow
            {% elif pct_chg_num < 1 %}
            shrink
            {% else %}
            <!-- nothing -->
            {% endif %}
            {{growth_10_years_str}} and
            hit {{currency_symbol}}{{stock_price_10_years}} over the next 10 years.</h3>
            </li>
            <li>
            {{ company_symbol }}'s
            stock price has
            {% if all_time_price_chg_num >= 1 %}
            increased
            {% elif all_time_price_chg_num < 1 %}
            decreased
            {% else %}
            <!-- nothing -->
            {% endif %}
            {{all_time_price_chg}}
            from {{currency_symbol}}{{first_price}} in {{ earliest_year }}
            <!-- from {{currency_symbol}}{{first_price}} to {{currency_symbol}}{{last_price}} -->
            ,
or             <!-- {{ hist_pct_chg_str_no_arrow }} -->
             {{price_metric_rate_change_str}}
<!-- {d% if statement_or_ratio != "ratios" %d} -->
             {% if price_metric_rate_change|abs > 1 %}
             faster than it's {{ fin_metric_name.lower() }}
             {% else %}
             the rate relative to it's {{ fin_metric_name.lower() }}
             {% endif %}

             over the same period.
                </li>
            <!-- <ul><li>This the magic of compounding.</li></ul> -->
             <li>
                 {{ company_symbol }}'s stock price has gone up {{price_increased_on_metric_up_years}} of the {{num_years_increased}} years ({{percent_correlation_str}}) it's {{ fin_metric_name.lower() }} were also up.
                 <!-- <li>
                     {% if percent_correlation > 0.5 %}
             {% else %}
             the rate relative to it's {{ fin_metric_name.lower() }}
             {% endif %}
                 </li>
                Based on history - std dev - increase or dec. next 5 years inc dec.
            {{ latest_metric }}
            in
            {{ latest_year }}
            .
                                                    Increased
            {{ num_years_increased }}
            of
            {{ num_years }}
            . The stock gained {{num_years_increased_price}} of those {{num_years_increased}} years.
                                                    If you add up all of
            {{ company_short_name }}
            's'
            </li> -->

            </ul>
            </span>
            <span class="key_points">Buy the Data</span>
            <span class="key_body">

    <!-- <p>
                The arithmetic mean is used to calculate annual percent change (as opposed to geometric mean).
            </p> -->
    <!-- <p>If you'd have invested in </p> -->
    <p>
        Save time and invest smart. Understand how
    {{ company_symbol }}
stacks up to all its competitors."ratio"
    </p>
    {% if statement_or_ratio != "sratios" %}
    <a href="https://tendollardata.com/financial-statements">
    <div class="button_div">
        <button class="btn btn-primary button_buy" type="button">
            Historical Financial Statements Data for entire
        {{ company_sector }}
        Sector for $10
        </button>
    </div>
    </a>
    {% else %}
    {% endif %}
</span>

<!-- {{company_symbol}}
{{company_currency}}
{{company_exchange}}
{{company_industry}}
{{company_description}}
[[company_sector]]
[[company_country]]
[[company_ipo_date]] -->




    <!-- <p>
                To buy the RAW DATA for financial ratios . Ultimately, only high-level analysis in excel gives you the bigger picture
            </p> -->
    <!-- <p>
                the chart data has been cleaned for the clearest analysis. We smooth seasonal spikes and fill in missing data with interpolated values. You can see the clearest historical trend this way. For the raw value, see the table below.
            </p> -->
</div>
</div>
</div>
</div>
<div class="content">
    <!-- <div class="row flex-grow-1">
        <div class="col-md-4 col-xl-6" style="padding: 10px;"></div>
    </div>
    <div class="row flex-grow-1 justify-content-center">
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary font-weight-bold m-0 metric_table">
                        {{ company_long_name }}
                    (
                    {{ company_symbol }}
                    ) Historical
                    {{ fin_metric_name }}
                    Table
                    </h6>
                </div>
                <div class="card-body yoy_table">
                    {% for table in df_html_tall %}
                    {{ df_html_tall[0]|safe }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid">
    </br>
    <div class="col">
        <div></div>
    </div>
</div>
</div>
</div>
<!-- <script src="https://code.highcharts.com/stock/modules/exporting.js"></script> -->
<script src="{{ url_for('static', filename='../static/js/sliding_tabs.js') }}"></script>
{% endblock %}