

  <script>
  document.addEventListener('DOMContentLoaded', function (data) {
//     var myChart = Highcharts.setOptions({
//     lang: {
//         numericSymbols: [' thousands', ' millions', 'billions']
//     }
// });

    var myChart = Highcharts.stockChart('highbar', {
      // lang: {
      //     numericSymbols: [' thousands', ' millions', 'billions']
      // },
      chart: {
          borderWidth: 2,
          marginRight: 100
      },

            title: {
                text: 'AAPL Stock Volume'
            },
            rangeSelector: {
                inputPosition: {                    // align: 'left',
                    x: 0,                    y: 0                },
                buttonPosition: {                    // align: 'right',
                    x: 0,                    y: 0                }
                ,
                buttons: [
        {
        type: 'year',        count: 3,        text: '3Y'    }, {
        type: 'year',        count: 5,        text: '5Y'    }, {
        type: 'year',        count: 10,        text: '10y'  }, {
        type: 'all',        text: 'All'    }                   ]
            },
            xAxis:{
                tickInterval: 1 * 24 * 3600 * 1000 // interval of 1 day
            },
            yAxis:{
              minPadding:100,
                      // lineColor:'#999',
                      // lineWidth:1,
                      // tickColor:'#666',
                      // tickWidth:1,
                      // tickLength:3,
                      // gridLineColor:'#ddd',
                      // title:{
                      //     text:'Y Axis Title',
                      //     rotation:0,
                      //     margin:50,
                      // },
                      tooltip: {
                      formatter: function (tooltip) {
                      }
                  },
    labels:{
                    align: 'right',
              x: 50,
              y: 0,
                      // formatter:function(){
                      //     return ('$' + this.value / 1000000000) + 'B';
                      // }
                      formatter:function(){
                  if(this.value >= 1000000000){
                      return ('$' + this.value / 1000000000) + 'B';
                  }
                  else if(this.value >= 1000000) {
                      return ('$' + this.value / 1000000) + 'M';
                  }
                  else if(this.value >= 1000) {
                      return ('$' + this.value / 1000) + 'K';
                  }
                  else {
                      return '$' + this.value;
                  }
              }
    }
},


            series: [{
                type: 'column',
                name: 'AAPL Stock Volume',
                data:{{df_json}},

            }]

        });
    });
  </script>





<div id="highbar" style="height: 400px; width:1000px;"></div>
