<!DOCTYPE html>
<html lang="en">
        <head>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <!-- https://stackoverflow.com/questions/26192897/should-i-use-bootstrap-from-cdn-or-make-a-copy-on-my-server -->
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/bootstrap/css/styles.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/primary.min.css') }}">
        <meta http-equiv="x-dns-prefetch-control" content="on">
        <link rel='preconnect' href='//stackpath.bootstrapcdn.com' crossorigin>
        <link rel="preconnect" href="//ajax.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
        <link rel="dns-prefetch" href="https://fonts.gstatic.com/">
        <link rel="preconnect" href="https://use.fontawesome.com" crossorigin>
        <link rel="dns-prefetch" href="https://use.fontawesome.com">
        <link rel="preconnect" href="//cdnjs.cloudflare.com">
        <link rel="preconnect" href="//www.googletagmanager.com">
        <link rel="preconnect" href="//www.google-analytics.com">
        <link rel="dns-prefetch" href="//s3.amazonaws.com">
        <link rel="dns-prefetch" href="//ajax.googleapis.com">
        <link rel="dns-prefetch" href="//cdnjs.cloudflare.com">
        <link rel="dns-prefetch" href="//www.googletagmanager.com">
        <link rel="dns-prefetch" href="//www.google-analytics.com">
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed">
        <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono"> -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="{{ url_for('static', filename='../static/js/chart.js') }}"></script>
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
        <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css"> -->

        <!-- <script type="text/javascript" src="{{ url_for('static', filename='../static/js/jquery-3.5.1.js') }}"></script> -->
        <!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> -->
        <!-- enables CSV -->
        <!-- <script type="text/javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/dataTables.buttons.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.4/js/buttons.html5.min.js"></script> -->
        <!-- <script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script> -->
        <!-- <script type="text/javascript" src="https://code.highcharts.com/modules/no-data-to-display.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/corejs-typeahead/1.3.1/typeahead.bundle.min.js"></script>
        {% block charts_quarter_head %}
        {% endblock %}
        </head>
        <body class="fixed_body">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="color: #212529;">
            <div class="container">
                <div class="squarelogo">
                    <a href="https://charts.tendollardata.com">



                    <span class="navbar-brand dollar_data charts_left" href="#" style="color: #4285f4 !important; margin-right:0px">
                        <!-- 10 -->
                        charts.
                    </span>
                    <!-- . -->

                    <span class="navbar-brand dollar_data" href="#" style="color: #19a419 !important;">
                        <!-- 10 -->
                        tendollardata
                    </span>
                    </a>
                </div>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                    <span class="sr-only">
                        Toggle navigation
                    </span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="https://tendollardata.com">
                                Home
                            </a>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#">
                                Second Item
                            </a>
                        </li> -->
                        <li class="nav-item dropdown">
                            <a
                                class="dropdown-toggle nav-link"
                                data-toggle="dropdown"
                                aria-expanded="false"
                                href="#"
                            >
                                Datasets for $10
                            </a>
                            <div class="dropdown-menu" role="menu">
                                <!-- <a class="dropdown-item" role="presentation" href="#">
                                    First Item
                                </a> -->
                                <!-- <a class="dropdown-item" role="presentation" href="#">
                                    Second Item
                                </a> -->
                                <!-- <a class="dropdown-item" role="presentation" href="#">
                                    Third Item
                                </a> -->
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-minute-data-historical-intraday-data-dataset-all-us-equities-etfs-sp-500-tech-stocks/">⭐ Intraday Price Data  (1991 – Present)</a>
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-market-cap-dataset-historical-daily-price-price-dataset-all-us-equities-sp-500-tech-stocks/">⭐ Daily Price &amp; Market Cap (1970 – Present)</a>
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-financial-statements-data-dataset-all-us-stocks-equities-1994-present/">⭐ Financial Statements   (1994 – Present)</a>
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-earnings-dataset-all-us-equities-sp-500-tech-stocks/">Earnings Data (2002 – Present)</a>
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-dividends-data-dataset-all-us-equities-etfs-funds-mutual-index-sp-500-tech-stocks/">Dividends Data (1990 – Present)</a>
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-ipos-data-dataset-all-us-stocks-etfs-and-other-funds-2004-present/">IPOs Data (2004 – Present)</a>
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-13f-data-dataset-all-quarterly-portfolio-filings-by-hedge-funds-2013-present/">13Fs (hedge fund holdings) (2013 – Present)</a>
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-options-data-dataset-all-us-equities-sp-500-tech-stocks/">Options Volume (2018 – Present)</a>
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-analyst-grades-ratings-data-dataset-all-us-equities-sp-500-tech-stocks/">Analyst Grades (1990 – Present)</a>
                                <a class="dropdown-item" role="presentation" href="https://tendollardata.com/product/historical-stock-splits-data-dataset-all-us-equities-1990-present/">Stock Splits Data (1990 – Present)</a>
                            </div>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#">
                                Third Item
                            </a>
                        </li> -->
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation">
                            <form class="form-inline mr-auto" target="_self">
                                <div class="form-group">
                                    <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                                        <div class="input-group">
                                            <div class="lazytype">
                                                <input class="bg-light form-control border-0 small typeahead" type="text" placeholder="TSLA, AAPL, SPY...">
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button">
                                                    <!-- <i class="fas fa-search"></i> -->
                                                    <i class="material-icons typeahead_icon">
                                                        search
                                                    </i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav mx-auto">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" href="#">
                                BUY DATA
                            </a>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#">
                                Link 2
                            </a>
                        </li> -->
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" href="#">
                                Link 3
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
        <script>
            $(".lazytype").one("click", function () {
                var bestPictures = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.obj.nonword('value'), // Bloodhound.tokenizers.obj.whitespace('tokens'),
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    prefetch: "{{ url_for('static', filename='../static/json/company_urls_records_remote.json') }}"
                });
                bestPictures.initialize();
                $('.typeahead').typeahead(null, {
                    minLength: 1,
                    name: 'ticker',
                    display: 'value',
                    source: bestPictures,
                    highlight: true,
                    hint: true,
                    templates: {
                        empty: ['<div class="empty-message">', 'Try <a href=\"https://charts.tendollardata.com/TSLA>TSLA</a>, <a href=\"https://charts.tendollardata.com/AAPL>AAPL</a>, <a href=\"https://charts.tendollardata.com/SPY>SPY</a>...', '</div>'].join('\n'),
                        suggestion: function (data) {
                            return "<p><a href=\"https://charts.tendollardata.com/" + data['ticker'] + "\">" + data['value'] + "</a></p>"
                        }
                    }
                });
            });
        </script>
            {% block quarterly_body %}
            {% endblock %}
<script type="text/javascript">$.typeahead({
    input: '.js-typeahead',
    minLength: 1,
    filter: false, // Disables typahead filter to just show everything in the results from the database
    debug: true,
    highlight: true,
    maxItem: 10,
    hint: true,
    dynamic: true,
    delay: 200,
    searchOnFocus: true,
    backdrop: {
        "background-color": "#fff"
    },
    href: "{{ url }}",
    emptyTemplate: "no result for    {{ query }}",
    display: ["name"]
});
</script>
        </body>
</html>