            <!-- <div class="card shadow border-left-primary py-2 sticky-top" style="margin: 10px;"> -->
            <div class="card-body summary_header">
                <span class="font12">Note: Stonk = Stock. Both words are used interchangeably. 🙂</span>
                <h2 class="text-primary mb-0 historical">
                    <!-- Summary Statistics (Annual)
                                <br> -->
                    <!-- {{ fin_metric_name }} -->
                    <!-- <br> -->
                    



                    
                    Historical (All-Time) Stats for <span class="greenish">{{fin_metric_name}}</span>
                    <!-- (
                {{ earliest_year }}
                -
                {{ latest_year }}
                ) -->
                </h2>
                <!-- <du class="text-primary mb-0 historical"></du>All Years -->
                <!-- <br> -->
                <!-- <div class="text-dark font-weight-bold h5 mb-0"></div> -->
            </div>
                <div class="card-body summary_body">
                    <div class="text-dark font-weight-bold h5 mb-0"></div>
                    <!--
                    <div id="tgb_page-tgb_tabs" class="tgb_page-tgb_tabs-css">
                        <ul id="tgb_tabs" class="tgb_tabs-css">
                            <li class="hr_one"><a href="#" class="tabs_title_links"><div class="innerhref">All Years</div></a></li>
                            <li class="hr_two"><a href="#" class="tabs_title_links"><div class="innerhref">Past 10 Years</div></a></li>
                            <hr class="stickyhr" />
                        </ul>
                        <ul id="tgb_panels" class="tgb_panels-css">
                            <li>Panel 1</li>
                            <li>Panel 2</li>
                        </ul>
                    </div>
                    <script>
                        var selectedTab = 0, // NOTE: FSDF
                            scrollDelay = 20,
                            scrollSpeed = 400,
                            scrolltopOffset = 0;
                        $("#tgb_tabs").children().each(function (i) {
                            i = i + 1;
                            $(this).attr('id', "tab-" + i).addClass("tab").wrapInner(
                                "<div class='tab-wrapper'></div>");
                        });
                        var count = $("#tgb_tabs").children().length-1;
                        var tab_width = (100 / count) + "%";
                        $("#tgb_tabs li").css("width", tab_width).eq(0).addClass('first').end().eq(-1).addClass(
                            'last').end();
                        $("#tgb_panels").children().each(function (i) {
                            i = i + 1;
                            $(this).attr('id', "panel-" + i).addClass("panel").wrapInner(
                                "<div class='panel-wrapper'></div>").prepend(
                                "<div class='accordion-tab'></div>");
                        });
                        $(".accordion-tab").each(function (i) {
                            i = i + 1;
                            var tab_name = $("#tab-" + i).html();
                            $(this).html(tab_name);
                        });
                        $("#tgb_tabs").children().eq(selectedTab).addClass("xactive");
                        $("#tgb_panels").children().eq(selectedTab).addClass("xactive");
                        $("#tgb_tabs > li").click(function () {
                            $("#tgb_tabs > li, #tgb_panels > li").removeClass("xactive");
                            $("#tgb_panels > li").eq($(this).index()).toggleClass("xactive");
                            $(this).toggleClass("xactive");
                        });
                        $(".accordion-tab").click(function () {
                            $("#tgb_tabs > li, #tgb_panels > li").removeClass("xactive");
                            $("#tgb_tabs > li").eq($(this).parent().index()).toggleClass("xactive");
                            $(this).parent().toggleClass("xactive");
                        });
                    </script>
                            -->
                    <!--
                                {% if statement_or_ratio != "ratios" %}
                    <div class="table-responsive tstat0">
                        <table class="table">
                                <tbody class="lifetime">
                                <tr>
                                    <td class="hist_measure">
                                        Cumulative, Total <br />(
                                        {{ earliest_year }}
                                        -
                                        {{ latest_year }}
                                        )
                                    </td>
                                    <td class="hist_stats">
                                        {{ lifetime_sum_all_metric }}
                                    </td>
                                    <td rowspan="2" class="subtd pct_chg_summary">
                                    </td>
                                </tr>
                                </tbody>
                        </table>
                        </div>
                        {% endif %} -->
                        <!-- <hr class="stats_hr"> -->
                        <!-- <br> -->
                        <div class="table-responsive tstat1">
                            <table class="table">
                                <!-- <tr>
                                    <td class="hist_measure">
                                        Change (
                                    {{ earliest_year }}
                                    -
                                    {{ latest_year }}
                                    )
                                    </td>
                                    <td class="hist_stats">
                                        <b>
                                            {{ historical_pct_chg }}
                                        </b>
                                    </td>
                                </tr> -->
                                <!-- <tbody class="historical_metric_change"> -->
                                <!-- <tr>
                                    <td class="hist_measure">
                                                                Change (Annual)
                                                            </td>
                                                            <td class="hist_stats">
                                                                {{ annual_pct_chg_str }}
                                                            </td></tr> -->
                                <tr>
                                    <td class="subtd_header">
                                        <i class="material-icons stats-top">
                                            <!-- trending_up -->
                                            chevron_right
                                        </i>
                                        {{ latest_year }}
                                    </td>
                                    <td class="subtd_body">
                                        {{ latest_metric_str }}
                                    </td>
                                    <td rowspan="2" class="subtd pct_chg_summary big_cell">
                                        {{ hist_pct_chg_str }}{{earliest_latest_warning}}

                                        <br>
                                        <span class="over_x_years">
                                            (
                                        {{ annual_pct_chg_str }}
                                        / year avg)
                                        <!-- annual average) -->
                                        </span>
                                    </td>
                                    <!-- <td class="stock_price_rows">asdsa</td> -->
                                    <!-- <td class="subtd">{{ annual_pct_chg_str }}</td> -->
                                </tr>
                                <tr>
                                    <td class="subtd_header">
                                        <i class="material-icons stats-top">
                                            <!-- trending_up -->
                                            chevron_left
                                        </i>
                                        {{ earliest_year }}
                                    </td>
                                    <td class="subtd_body">
                                        {{ earliest_metric_str }}
                                    </td>
                                </tr>
                            <!-- </tbody> -->
                        <!-- </table>
                        </div> -->
                        <!-- <div class="table-responsive tstat11">
                            <table class="table">
                                <tbody class="historical_metric_change">
                                <tr>
                                    <td class="subtd_header">
                                        {{ earliest_year }} - {{ latest_year }}
                                    </td>
                                    <td class="subtd_body">
                                        {{ latest_metric_str }}
                                    </td>
                                    <td rowspan="2" class="subtd pct_chg_summary big_cell">
                                        {{ hist_pct_chg_str }}
                                        <br>
                                        <span class="over_x_years">
                                            (
                                        {{ annual_pct_chg_str }}
                                        /year avg)
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subtd_header">
                                        {{ earliest_metric_str }} - {{ latest_metric_str }}
                                    </td>
                                    <td class="subtd_body">
                                        {{ earliest_metric_str }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div> -->
                        <!-- <hr class="stats_hr"> -->
                        <!-- <br> -->
                        <!-- <div class="table-responsive tstat2">
                            <table class="table"> -->
                        <!-- <tbody class="peakbottom"> -->
                        <tr>
                            <td class="hist_measure subtd_header">
                                <i class="material-icons stats-top">vertical_align_top</i> Peak
                            </td>
                            <td class="hist_stats middle">
                                {{ max_str }}
                            </td>
                            <td rowspan="2" class="subtd max_min_summary big_cell ">
                                {{ max_min_range_str }}
                                {{min_max_warning}}

                            </td>
                        </tr>
                        <tr>
                            <td class="hist_measure subtd_header">
                                <i class="material-icons  stats-bottom">vertical_align_bottom</i> Bottom
                            </td>
                            <td class="hist_stats middle">
                                {{ min_str }}
                            </td>
                        </tr>
                    <!-- </tbody> -->
                        <!-- </table>
                        </div> -->
                        <!-- <hr class="stats_hr"> -->
                        <!-- <br> -->
                        <!-- <div class="table-responsive tstat3">
                            <table class="table"> -->
                    <!-- <tbody class="updownyears"> -->
                        <tr>
                            <td class="hist_measure subtd_header">
                                <i class="material-icons stats-top">
                                    <!-- trending_up -->
                                    arrow_drop_up
                                    <!-- align_vertical_bottom -->
                                </i> # Up Years
                                <!-- <br> <span class="font12">Positive YoY change (0%+)</span> -->
                            </td>
                            <td class="hist_stats middle">
                                {{ num_years_increased }}
                            </td>
                            <td rowspan="2" class="subtd big_cell big_up_year">
                                {{num_years_increased}} of {{num_years}} <br>years up.
                            </td>
                        </tr>
                        <tr>
                            <td class="hist_measure subtd_header">
                                <i class="material-icons stats-bottom">
                                    <!-- trending_down -->
                                    arrow_drop_down
                                    <!-- align_vertical_top -->
                                </i> # Down Years
                                <!-- <br><span class="font12">Negative YoY change</span> -->
                            </td>
                            <td class="hist_stats middle">
                                {{ num_years_bad }}
                            </td>
                        </tr>
                        </tbody>
                        </table>
                        </div>
                        <!-- <hr class="stats_hr"> -->
                        <!-- <br> -->
                        <span class="font12">Up Years = Positive (0%+) YoY change</span><br>
                        <span class="font12">Down Years = Zero or Negative (0% or less) YoY change </span>
                        <br><br>

                        {% if price_available == "yes" %}





                        <h2 class="key_points">Key Points <span class="key_subtitle">(Stonk Price Comparison)</span></h2>
                        <!-- <br> -->
                        <!-- <h4><span class="key_subtitle">Stock Price Comparison</span></h4> -->
                        <!-- <span class="key_body"> -->
                        <ul class="key_bullets">
                        <li>
                        {{ company_symbol }}'s
                        stock price has
                        {% if all_time_price_chg_num >= 1 %}
                        rallied
                        {% elif all_time_price_chg_num < 1 %}
                        drop
                        {% else %}
                        <!-- nothing -->
                        {% endif %}
                        {{all_time_price_chg}}
                        from {{currency_symbol}}{{first_price}} in {{ earliest_year }}
                        <!-- from {{currency_symbol}}{{first_price}} to {{currency_symbol}}{{last_price}} -->
                        ,
                        or             <!-- {{ hist_pct_chg_str_no_arrow }} -->
                        {{price_metric_rate_change_str}}
                            <!-- {d% if statement_or_ratio != "ratios" %d} -->
                        {% if price_metric_rate_change|abs > 1 %}
                        faster than it's {{ fin_metric_name.lower() }}
                        {% else %}
                        the rate relative to it's {{ fin_metric_name.lower() }}
                        {% endif %}
                        over the same period.
                            </li>
                        <li>
                            <!-- <h3 class="bigif"> -->
                            If {{ company_symbol }}
                        {% if pct_chg_num >= 1 %}
                        grows
                        {% elif pct_chg_num < 1 %}
                        shrinks
                        {% else %}
                        <!-- nothing -->
                        {% endif %}
                        it's stock at the same rate as it's  {{ fin_metric_name.lower() }}  ({{ annual_pct_chg_str }}/year) , it's stock price will
                        {% if pct_chg_num >= 1 %}
                        grow
                        {% elif pct_chg_num < 1 %}
                        shrink
                        {% else %}
                        <!-- nothing -->
                        {% endif %}
                        {{growth_10_years_str}} and
                        hit {{currency_symbol}}{{stock_price_10_years}} over the next 10 years.
                        <!-- </h3> -->
                        </li>
                        <!-- <ul><li>This the magic of compounding.</li></ul> -->
                        <li>
                            {{ company_symbol }}'s stock price has gone up {{price_increased_on_metric_up_years}} of the {{num_years_increased}} years ({{percent_correlation_str}}) it's {{ fin_metric_name.lower() }} were also up.
                            <!-- <li>
                                {% if percent_correlation > 0.5 %}
                        {% else %}
                        the rate relative to it's {{ fin_metric_name.lower() }}
                        {% endif %}
                            </li>
                            Based on history - std dev - increase or dec. next 5 years inc dec.
                        {{ latest_metric }}
                        in
                        {{ latest_year }}
                        .
                                                                Increased
                        {{ num_years_increased }}
                        of
                        {{ num_years }}
                        . The stock gained {{num_years_increased_price}} of those {{num_years_increased}} years.
                                                                If you add up all of
                        {{ company_short_name }}
                        's'
                        </li> -->
                        </ul>

                        {% else %}
                        {% endif %}

                        








                        {{min_max_disclaimer}}


                        <!-- </span> -->










                        <!-- <aside>
                        <span class="aside_points">Check out the Dataset</span>
                        <span class="aside_body">
                        <span class="thank_you"></span>
                        {% if statement_or_ratio != "sratios" %}
                                <span class="pitch">Historical Financial Statements (1994 - Present)

                                    <br>
                                    Entire
                            {{ company_sector }}
                            Sector (1000+ stocks)
                            </span>
                        <a href="https://tendollardata.com/product/historical-financial-statements-data-dataset-all-us-stocks-equities-1994-present/">
                        <div class="button_div">
                            <button class="btn btn-primary button_buy" type="button">
                                Buy for $10
                            </button>
                        </div>
                        </a>

                        {% else %}
                        {% endif %}
                        </span>
                        </aside> -->





                        <!-- {{company_symbol}}
                        {{company_currency}}
                        {{company_exchange}}
                        {{company_industry}}
                        {{company_description}}
                        [[company_sector]]
                        [[company_country]]
                        [[company_ipo_date]] -->
                        <!-- <p>
                                    to buy the RAW DATA for financial ratios . Ultimately, only high-level analysis in excel gives you the bigger picture
                                </p> -->
                        <!-- <p>
                        the chart data has been cleaned for the clearest analysis. We smooth seasonal spikes and fill in missing data with interpolated values. You can see the clearest historical trend this way. For the raw value, see the table below.
                        </p> -->
            </div>